# Remote storage usage is the retrieval of analysis reports etc from
# a remote Cuckoo 'long term storage' host.
remote_storage:
  enabled: {{ remote_storage.enabled }}
  api_url: {{ remote_storage.api_url }}

  # API key does not need administrator privileges
  api_key: {{ remote_storage.api_key }}

elasticsearch:
  # The Elasticsearch settings must be configured to be able to use any of
  # the features in this section.

  # Enable or disable the Cuckoo web results search functionality
  web_search:
    enabled: {{ elasticsearch.web_search.enabled }}

  # Enable or disable Cuckoo web results statistics. Detected family, behavior
  # graphs, amount of submissions, etc.
  statistics:
    enabled: {{ elasticsearch.statistics.enabled }}

    # All enabled charts types and the time ranges over which they
    # should display data. Available range: daily, weekly, monthly, yearly.
    # Available chart examples: families_bar, families_line, targettypes_bar,
    # categories_bar, categories_line, submissions_line
    charts:
    {% for chart in elasticsearch.statistics.charts %}
    - chart_type: {{ chart.chart_type }}
      time_range: {{ chart.time_range }}
    {% endfor %}

  # The Elasticsearch hosts where results are reported to during processing.
  # Should be one ore more host:port combinations.
  hosts:
  {% for host in elasticsearch.hosts %}
    - {{ host }}
  {% endfor %}

  indices:
    # The names to use when searching Elasticsearch. Each name must be unique
    # and should also be used in reporting.
    names:
      analyses: {{ elasticsearch.indices.names.analyses }}
      tasks: {{ elasticsearch.indices.names.tasks }}
      events: {{ elasticsearch.indices.names.events }}

  # The max result window that will be used in searches. The Elasticsearch default is 10000. This
  # window has impact in how far back you can search with queries that match a large amount of documents.
  max_result_window: {{ elasticsearch.max_result_window }}

# Specific web features that can be disabled/enabled
web:
  downloads:
    # Enable/disable submitted file downloading.
    submitted_file: {{ web.downloads.submitted_file }}
    # A list of strings representing the subnets or ipaddresses that can download 
    allowed_subnets: {{ web.downloads.allowed_subnets }}
