{% extends "base.html.jinja2" %}
{% set active_page = "analyses" %}
{% set report_page = "compare" %}
{% set title = "Compare tasks" %}

{% from 'macros.html.jinja2' import color_class, ui_box %}

{% block page_script %}
  <script src="{{ static('js/analysis.compare.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container is-portal-view">
  <div class="columns is-divided is-vtop">
    <aside class="column is-auto has-padding is-sticky">
      {% include "partial/analysis-index.html.jinja2" %}
    </aside>
    <section class="column has-padding">
      {% call ui_box(title="Compare", has_padding=False, collapsible=False) %}
        <div class="has-padding no-padding-bottom">
          <p>The compare tool allows to compare multiple tasks in their behavior and triggered signatures.</p>
          <p class="has-half-opacity"><small>Please note that this is not functioning yet, all data is static and everything is design/ux phase.</small></p>
        </div>
        <table class="table has-border no-border-x">
          <thead>
            <tr>
              <th>Description</th>
              <th class="is-medium">
                <div class="control is-select">
                  <select class="input is-rounded" id="task1">
                    <option selected disabled>Select Task</option>
                    {% for task in analysis.tasks %}
                      <option value="{{ task.id }}">{{ task.id }}</option>
                    {% endfor %}
                  </select>
                </div>
              </th>
              <th class="is-medium">
                <div class="control is-select">
                  <select class="input" id="task2">
                    <option selected disabled>Select Task</option>
                    {% for task in analysis.tasks %}
                      <option value="{{ task.id }}">{{ task.id }}</option>
                    {% endfor %}
                  </select>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="separator is-beveled">
              <td class="has-text-small has-text-left" colspan="3">Signatures:</td>
            </tr>
            <tr>
              <td>
                <strong>Modifies service</strong>
                <p class="no-margin-bottom has-text-small">Hier kan een mooie description</p>
              </td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&check;</span>
                </span>
              </td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&times;</span>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Checks system information in the registry</strong>
              </td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&times;</span>
                </span>
              </td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&times;</span>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Modifies system certificate store</strong>
              </td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&check;</span>
                </span>
              </td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&check;</span>
                </span>
              </td>
            </tr>
            <!-- <tr class="separator is-beveled">
              <td class="has-text-small has-text-left" colspan="3">Platform:</td>
            </tr> -->
            <tr class="separator is-beveled">
              <td class="has-text-small has-text-left" colspan="3">Values:</td>
            </tr>
            <tr>
              <td><strong>Score</strong></td>
              <td class="has-text-center">
                <span class="tag is-red">10</span>
              </td>
              <td class="has-text-center">
                <span class="tag is-yellow">7</span>
              </td>
            </tr>
            <tr>
              <td><strong>File size</strong></td>
              <td class="has-text-center is-monospace">400kB</td>
              <td class="has-text-center is-monospace">317kB</td>
            </tr>
          </tbody>
        </table>
      {% endcall %}
    </section>
  </div>
</div>
{% endblock %}
