{% extends "base.html.jinja2" %}
{% set active_page = "analyses" %}
{% set report_page = "compare" %}
{% set title = "Compare tasks" %}

{% from 'macros.html.jinja2' import color_class, ui_box %}

{% block page_script %}
  <script>

    (function() {

      // task1.querySelectorAll('option')[0].selected = true;

    }());

  </script>
{% endblock %}

{% block body %}
<div class="container is-portal-view">
  <div class="columns is-divided is-vtop">
    <aside class="column is-auto has-padding is-sticky">
      {% include "partial/analysis-index.html.jinja2" %}
    </aside>
    <section class="column has-padding">
      {% call ui_box(title="Compare", has_padding=False, collapsible=False) %}
        <div class="has-padding no-padding-bottom">
          <p>The compare tool allows to compare multiple tasks in their behavior and triggered signatures.</p>
          <p class="has-half-opacity"><small>Please note that this is not functioning yet, all data is static and everything is design/ux phase.</small></p>
        </div>
        <table class="table has-border no-border-x">
          <thead>
            <tr>
              <th>Description</th>
              <th class="is-medium">
                <div class="field-block">
                  <div class="control is-select">
                    <select class="input is-rounded" id="task1">
                      <option selected disabled>Select Task</option>
                      {% for task in analysis.tasks %}
                        <option value="{{ task.id }}">{{ task.id }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </th>
              <th class="is-medium">
                <div class="field-block">
                  <div class="control is-select">
                    <select class="input" id="task2">
                      <option selected disabled>Select Task</option>
                      {% for task in analysis.tasks %}
                        <option value="{{ task.id }}">{{ task.id }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="separator is-beveled">
              <td class="has-text-small has-text-left" colspan="3">Signatures:</td>
            </tr>
            <tr>
              <td>Modifies service</td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&check;</span>
                </span>
              </td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&times;</span>
                </span>
              </td>
            </tr>
            <tr>
              <td>Checks system information in the registry</td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&times;</span>
                </span>
              </td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&times;</span>
                </span>
              </td>
            </tr>
            <tr>
              <td>Modifies system certificate store</td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&check;</span>
                </span>
              </td>
              <td class="has-text-center">
                <span class="icon is-big has-text-weight-heavy">
                  <span>&check;</span>
                </span>
              </td>
            </tr>
            <tr class="separator is-beveled">
              <td class="has-text-small has-text-left" colspan="3">Values:</td>
            </tr>
            <tr>
              <td>Score</td>
              <td class="has-text-center">
                <span class="tag is-red">10</span>
              </td>
              <td class="has-text-center">
                <span class="tag is-yellow">7</span>
              </td>
            </tr>
            <tr>
              <td>File size</td>
              <td class="has-text-center is-monospace">400kB</td>
              <td class="has-text-center is-monospace">317kB</td>
            </tr>
          </tbody>
        </table>
      {% endcall %}
    </section>
  </div>
</div>
{% endblock %}
