{% extends "base.html.jinja2" %}
{% set active_page = "analyses" %}
{% set report_page = "sample" %}
{% set title = "Analysis" %}

{% from 'macros.html.jinja2' import ui_box, ui_signatures, error_box, color_class, color_text, render_dict %}

{% block page_styles %}
  <link rel="stylesheet" type="text/css" href="{{ static('/css/chart.min.css') }}" />
{% endblock %}

{% block page_script %}
  <script type="text/javascript" src="{{ static('js/chart.bundle.min.js') }}"></script>
  <script src="{{ static('js/report.task.js') }}"></script>
  <script>
    window.analysis = "{{ analysis.tasks | safe }}";
    (function() {

      if(!window.Chart) return;
      const ctx = document.querySelector('canvas#threat-radar');
      const chart = new Chart(ctx.getContext('2d'), {
        type: 'radar',
        data: {
          labels: ['ransomware','adware','spyware','trojan','worm','locker'],
          datasets: [{
            label: 'Threat map',
            data: [30, 40, 50, 60, 70, 80]
          }]
        },
        options: {
          scale: {
            ticks: {
              startAtZero: true,
              min: 0,
              max: 100,
              stepSize: 10
            }
          }
        }
      });

    }());
  </script>
{% endblock %}

{% block body %}
  <div class="container is-portal-view">
    <div class="columns is-divided is-vtop">
      <aside class="column is-auto has-padding is-sticky">
        {% include "analysis/partial/sidebar.html.jinja2" %}
      </aside>
      <section class="column has-padding">

        <h2>Analysis</h2>
        <p>Description and overview of target and submission configuration.</p>

        {#
          {% call ui_box(title="Data") %}
            <p>analysis</p>
            {{ render_dict(analysis) }}
            <p>pre</p>
            {{ render_dict(pre) }}
          {% endcall %}
        #}

        {% if analysis.errors.errors|length > 0 %}
          {% call error_box(analysis.errors.errors) %}
            <p class="has-padding no-margin-bottom">Errors occured during this analysis.</p>
          {% endcall %}
        {% endif %}

        {% call ui_box(title="Target") %}
          <div class="columns has-padding is-divided">
            <div class="column is-auto">
              <div class="ratio-1-1">
                <div class="ratio-content">
                  <p class="{{ color_text(analysis.score) }} has-text-huge no-margin"><strong>{{ analysis.score }}</strong><sub class="has-text-light">/10</sub></p>
                </div>
                <div class="ratio-content is-bottom has-text-small has-half-opacity">Analysis score</div>
              </div>
            </div>
            <div class="column">
              <h3 class="no-margin-bottom is-monospace">
                <strong>{{ analysis.id }}</strong>
                <span class="pull-right has-half-opacity">{{ analysis.state|humanstate }}</span>
              </h3>
              <p class="has-line-break has-text-small">
                <span class="icon">
                  <i class="far fa-file"></i>
                </span> {{ analysis.target.filename }}
              </p>
              <ul class="list is-horizontal no-margin-bottom has-text-small">
                <li title="Date of creation">
                  <span class="icon">
                    <i class="far fa-calendar"></i>
                  </span> {{ analysis.created_on | formatdatetime }}
                </li>
                <li>
                  <span class="icon">
                    <i class="fas fa-compact-disc"></i>
                  </span> {{ analysis.target.size | filesizeformat }}
                </li>
                <li class="is-monospace">
                  <span class="icon">
                    <i class="fas fa-terminal"></i>
                  </span> {{ analysis.target.media_type }}
                </li>
              </ul>
            </div>
          </div>
        {% endcall %}

        {% call ui_box(title="Threat radar") %}
          <canvas id="threat-radar"></canvas>
        {% endcall %}

        {% if pre %}
          {% call ui_box(title="Signatures", has_padding=False) %}
            {{ ui_signatures(pre.signatures) }}
          {% endcall %}
        {% endif %}

        {% call ui_box(title="Target summary", has_padding=False) %}
          <div class="tabbar" data-enhance>
            <a href="#file-analysis" class="tabbar-link is-active">Target</a>
            <a href="#submission" class="tabbar-link">Submission</a>
            <a href="#settings" class="tabbar-link">Settings</a>
          </div>

          <table class="table" id="submission" hidden>
            <thead>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="no-line-break"><strong>Category</strong></td>
                <td class="has-line-break">{{ analysis.submitted.category }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>File name</strong></td>
                <td class="has-line-break">{{ analysis.submitted.filename }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Size</strong></td>
                <td class="has-line-break">{{ analysis.submitted.size | filesizeformat }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Type</strong></td>
                <td class="has-line-break">{{ analysis.submitted.type }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Media Type</strong></td>
                <td class="has-line-break">{{ analysis.submitted.media_type }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>MD5</strong></td>
                <td class="has-line-break">{{ analysis.submitted.md5 }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>SHA1</strong></td>
                <td class="has-line-break">{{ analysis.submitted.sha1 }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>SHA256</strong></td>
                <td class="has-line-break">{{ analysis.submitted.sha256 }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>SHA512</strong></td>
                <td class="has-line-break">{{ analysis.submitted.sha512 }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table" id="settings" hidden>
            <thead>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="no-line-break"><strong>Timeout</strong></td>
                <td class="has-line-break">{{ analysis.settings.timeout }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Priority</strong></td>
                <td class="has-line-break">{{ analysis.settings.priority }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Platforms</strong></td>
                <td class="has-line-break">
                  {# analysis.settings.platforms #}
                  {% if analysis.settings.platforms|length %}
                    {% for p in analysis.settings.platforms %}
                      <div class="tag-list no-margin-y">
                        <code class="no-margin-y has-margin-right">{{ p.platform }} {{ p.os_version }}</code>
                        {% if p.tags|length > 0 %}
                          {% for t in p.tags %}
                            <div class="tag no-margin-y has-margin-bottom">{{ t }}</div>
                          {% endfor %}
                        {% endif %}
                      </div>
                    {% endfor %}
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table" id="file-analysis">
            <thead>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="no-line-break"><strong>File name</strong></td>
                <td class="has-line-break">{{ analysis.target.filename }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Size</strong></td>
                <td class="has-line-break">{{ analysis.target.size | filesizeformat }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Type</strong></td>
                <td class="has-line-break">{{ analysis.target.filetype }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Media Type</strong></td>
                <td class="has-line-break">{{ analysis.target.media_type }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>MD5</strong></td>
                <td class="has-line-break">{{ analysis.target.md5 }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>SHA1</strong></td>
                <td class="has-line-break">{{ analysis.target.sha1 }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>SHA256</strong></td>
                <td class="has-line-break">{{ analysis.target.sha256 }}</td>
              </tr>
            </tbody>
          </table>
        {% endcall %}

      </section>
    </div>
  </div>
{% endblock %}
