{% extends "base.html.jinja2" %}
{% set active_page = "analyses" %}
{% set report_page = "sample" %}
{% set title = "Analysis" %}

{% from 'macros.html.jinja2' import
  ui_box, ui_signatures, error_box,
  color_class, color_text,
  render_dict, render_table
%}

{% block page_script %}

  {#
    not the most pretty solution; prevents a blinking UI component on render and does
    sorting chart data inline, based on a hardcoded list of queries.
  #}
  {% set chart_labels = ['trojan','ransomware','stealer','spyware','keylogger','dropper','loader','miner','rat'] %}
  {% set chart_values = [] %}

  {% if analysis.tags and analysis.tags|length %}
    {% for tag in chart_labels %}
      {% if tag in analysis.tags %}
        {{ chart_values.append(90)|default("", True) }}
      {% else %}
        {{ chart_values.append(5)|default("", True) }}
      {% endif %}
    {% endfor %}
  {% endif %}

  <script src="{{ static('js/luxon.min.js') }}"></script>
  <script src="{{ static('js/webcomponent.countdown-timer.js') }}"></script>
  <script src="{{ static('js/chart.min.js') }}"></script>
  <script>
    window.analysis = "{{ analysis.tasks | safe }}";
    window.data = {
      chart: {
        tags: {{ analysis.tags|tojson }},
        labels: {{ chart_labels|tojson }},
        values: {{ chart_values|tojson }}
      }
    };

    // sets default tabs to display when te hash router is not active. This is
    // determined here because it is page-specific.
    (function() {
      if(window.hashRouted !== undefined) {
         if(window.hashRouted === false) {
           window.gotoHash('overview:analysis');
         } else {
           document.querySelector('[role="region"]#overview').classList.remove('hidden')
         }
      } else {
        // @TODO initialize a way when the hash router is not available, UX can't
        // break here - eg fall back to legacy tabbar navigation scripts.
      }
    }());

  </script>
  <script src="{{ static('js/analysis.js') }}"></script>
{% endblock %}

{% block body %}

  <div class="container is-portal-view">
    <div class="columns is-divided is-vtop">
      <aside class="column is-auto has-padding is-sticky">
        {% include "partial/analysis-index.html.jinja2" %}
      </aside>
      <section class="column has-padding">

        <h2>Analysis</h2>
        <p>Static and file analysis results. The sidebar on the left reflects any additional results by component.</p>

        {# review: this 'hack' is redundant later on I think #}
        <nav role="tablist" class="tabbar has-background-transparent" id="analysisReport" hidden>
          <a role="tab" class="tabbar-link" href="#overview">Overview</a>
        </nav>

        {% if debug_template_data %}
          {% call ui_box(title="Template data", has_padding=False, collapsed=True) %}
            <h3 class="has-margin-x">Analysis</h3>
            {{ render_dict(analysis) }}
            <h3 class="has-margin-x">Pre</h3>
            {{ render_dict(pre) }}
          {% endcall %}
        {% endif %}

        {# handles errors #}
        {% if analysis.errors.errors|length > 0 %}
          {% call error_box(analysis.errors.errors) %}
            <p class="has-padding no-margin-bottom">Errors occured during this analysis.</p>
          {% endcall %}
        {% endif %}

        <div role="region" id="overview" hidden>
          {% include "analysis/components/summary.html.jinja2" %}

          {# include components if they exist inside the template scope #}
          {% if pre and pre.signatures|length %}
            {% include "analysis/components/static-signatures.html.jinja2" %}
          {% endif %}

          {% if analysis and analysis.ttps|length %}
            {% include "analysis/components/mitre.html.jinja2" %}
          {% endif %}

          {% if analysis.tags|length %}
            {% include "analysis/components/behavioral-map.html.jinja2" %}
          {% endif %}

          {% if analysis.tasks|length and analysis.tasks|length > 1 %}
            {% include "analysis/components/compare-tasks.html.jinja2" %}
          {% endif %}
        </div>

        {# tab: static.target/static.pe #}
        {% if pre.static and pre.static.pe %}
          <div role="region" id="pefiles" hidden>
            {% include "analysis/components/pefiles.html.jinja2" %}
          </div>
        {% endif %}

        {# tab: static.virustotal #}
        {% if pre.virustotal %}
          <div role="region" id="virus-total" hidden>
            {% include "analysis/components/virustotal.html.jinja2" %}
          </div>
        {% endif %}

        {# tab: static.irma #}
        {% if pre.irma is defined %}
          {% if pre.irma %}
            <div role="region" id="irma" hidden>
              {% include "analysis/components/irma.html.jinja2" %}
            </div>
          {% endif %}
        {% endif %}

        {# tab: static.mhr #}
        {% if pre.mhr is defined %}
          {% if pre.mhr.antivirus_detection_rate %}
            <div role="region" id="mhr" hidden>
              {% include "analysis/components/mhr.html.jinja2" %}
            </div>
          {% endif %}
        {% endif %}

        {# tab: pre.misp #}
        {% if pre.misp %}
          <div role="region" id="misp" hidden>
            {% include "analysis/components/misp.html.jinja2" %}
          </div>
        {% endif %}

        {# tab: pre.intelmq #}
        {% if pre.intelmq %}
          <div role="region" id="intelmq" hidden>
            {% include "analysis/components/intelmq.html.jinja2" %}
          </div>
        {% endif %}

        {# tab: pre.static.office #}
        {% if pre.static and pre.static.office %}
          <div role="region" id="office" hidden>
            {% include "analysis/components/office.html.jinja2" %}
          </div>
        {% endif %}

      </section>
    </div>
  </div>
{% endblock %}
