{% extends "base.html.jinja2" %}
{% set active_page = "analyses" %}
{% set report_page = "static" %}
{% set title = "Analysis - static analysis" %}

{% from 'macros.html.jinja2' import render_table, render_dict, ui_box, color_class %}

{% block body %}
  <div class="container">
    <div class="columns is-divided is-vtop">
      <aside class="column is-auto has-padding is-sticky">
        {% include "analysis/partial/sidebar.html.jinja2" %}
      </aside>
      <section class="column has-padding">

        <h2>Static analysis</h2>
        <p>Cuckoo static analysis and an overview from the results of other analysis providers.</p>

        <nav class="tabbar has-background-transparent" data-enhance>
          {% if pre.static.pe %}
            <a class="tabbar-link" href="#tab-pefiles">PE Files</a>
          {% endif %}
          {% if pre.virustotal %}
            <a class="tabbar-link is-active" href="#tab-virus-total">Antivirus</a>
          {% endif %}
          {% if pre.misp %}
            <a class="tabbar-link" href="#tab-misp">MISP</a>
          {% endif %}
        </nav>

        {# tab: static.target/static.pe #}
        {% if pre.static.pe %}

          <div id="tab-pefiles" hidden>

            {# PE Timestamp / imphash #}
            <div class="columns is-divided">
              <div class="column no-margin-left">
                {% call ui_box(title="PE Timestamp",display_title=False) %}
                  <p class="label no-margin-top">PE Timestamp</p>
                  <p class="is-monospace no-margin">{{ pre.static.pe.pe_timestamp }}</p>
                {% endcall %}
              </div>
              <div class="column no-margin-right">
                {% call ui_box(title="PE Timestamp",display_title=False) %}
                  <p class="label no-margin-top">PE Imphash</p>
                  <p class="is-monospace no-margin">{{ pre.static.pe.pe_imphash }}</p>
                {% endcall %}
              </div>
            </div>

            {# PE Sections #}
            {% call ui_box(title="PE Sections", has_padding=False) %}
              {{ render_table(
                    data=pre.static.pe.pe_sections,
                    cols=["name","virtual_address","virtual_size","size_of_data","entropy"],
                    labels=["Name", "Address","Size","Data Size", "Entropy"],
                    style=["is-monospace","is-monospace","is-monospace","is-monospace","is-monospace"],
                    has_sticky_header=True
              )}}
            {% endcall %}

            {# PE Resources #}
            {% call ui_box(title="PE Resources", has_padding=False) %}
              {{ render_table(
                    data=pre.static.pe.pe_resources,
                    cols=["name","offset","size","language","sublanguage","filetype"],
                    labels=["Name", "Offset","Size","Language","Sub-Language","File type"],
                    style=["is-monospace","is-monospace","is-monospace","is-monospace","is-monospace",None],
                    has_sticky_header=True
              )}}
            {% endcall %}

            {# PE Sigatures #}
            {% call ui_box(title="PE Signatures", has_padding=False) %}
              {% for signature in pre.static.pe.signatures %}
                <nav class="tabbar" data-enhance>
                  <p class="tabbar-link has-half-opacity">{{ signature.issuer.commonName }}</p>
                  <a href="#pesig-results-{{loop.index}}" class="tabbar-link is-active">Results</a>
                  <a href="#pesig-raw-{{loop.index}}" class="tabbar-link">JSON</a>
                </nav>
                <div id="pesig-results-{{loop.index}}">
                  <div class="columns is-gapless is-divided">
                    <div class="column">
                      <table class="table has-border">
                        <tbody>
                          <tr class="separator">
                            <td colspan="2">Issuer</td>
                          </tr>
                          <tr>
                            <td class="is-auto-width has-text-right">
                              <strong>Name</strong>
                            </td>
                            <td>{{ signature.issuer.commonName }}</td>
                          </tr>
                          <tr>
                            <td class="is-auto-width has-text-right">
                              <strong>Unit name</strong>
                            </td>
                            <td>{{ signature.issuer.organizationalUnitName }}</td>
                          </tr>
                          <tr>
                            <td class="is-auto-width has-text-right">
                              <strong>Country</strong>
                            </td>
                            <td>{{ signature.issuer.countryName }}</td>
                          </tr>
                          <tr>
                            <td class="is-auto-width has-text-right">
                              <strong>Organization</strong>
                            </td>
                            <td>{{ signature.issuer.organizationName }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="column">
                      <table class="table has-border">
                        <tbody>
                          <tr class="separator">
                            <td colspan="2">Subject</td>
                          </tr>
                          <tr>
                            <td class="is-auto-width has-text-right">
                              <strong>Name</strong>
                            </td>
                            <td>
                              {% if signature.subject.commonName %}
                                {{ signature.subject.commonName }}
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td class="is-auto-width has-text-right">
                              <strong>Locality name</strong>
                            </td>
                            <td>
                              {% if signature.subject.localityName %}
                                {{ signature.subject.localityName }}
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td class="is-auto-width has-text-right">
                              <strong>State / Province name</strong>
                            </td>
                            <td>
                              {% if signature.subject.stateOrProvinceName %}
                                {{ signature.subject.stateOrProvinceName }}
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td class="is-auto-width has-text-right">
                              <strong>Country</strong>
                            </td>
                            <td>
                              {% if signature.subject.countryName %}
                                {{ signature.subject.countryName }}
                              {% endif %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div id="pesig-raw-{{loop.index}}" hidden>
                  <div class="box has-background-light has-inset-shadow has-padding no-radius">
                    <div class="buttons-conjoined has-margin-x has-text-small has-hover-fadein">
                      <button class="button is-beveled" data-tooltip="Use dark syntax theme"><i class="fas fa-adjust  button-icon"></i></button>
                      <button class="button is-beveled" data-tooltip="Switch font style"><i class="fas fa-font button-icon"></i></button>
                      <button class="button is-beveled" data-tooltip="Expand all sections"><i class="fas fa-plus-square button-icon"></i></button>
                      <button class="button is-beveled" data-tooltip="Collapse all sections"><i class="fas fa-minus-square button-icon"></i></button>
                    </div>
                    {{ render_dict(signature) }}
                  </div>
                </div>
              {% else %}
                <p class="has-padding no-margin">No signatures.</p>
              {% endfor %}
            {% endcall %}

            {# PE Imports & Exports #}
            <div class="columns is-divided">
              <div class="column no-margin-left">
                {% call ui_box(title="PE Imports", has_padding=False) %}
                  {% if pre.static.pe.pe_imports[0] %}
                    {{ render_table(
                          data=pre.static.pe.pe_imports[0].imports,
                          cols=["name","address"],
                          labels=["Name", "Address"],
                          style=["is-monospace","is-monospace"],
                          has_sticky_header=True
                    )}}
                  {% else %}
                    <p class="has-margin-x">No data</p>
                  {% endif %}
                {% endcall %}
              </div>
              <div class="column no-margin-right">
                {% call ui_box(title="PE Exports", has_padding=False) %}
                  {% if pre.static.pe.pe_exports[0] %}
                    {{ render_table(
                          data=pre.static.pe.pe_exports[0].exports,
                          cols=["name","address"],
                          labels=["Name", "Address"],
                          style=["is-monospace","is-monospace"],
                          has_sticky_header=True
                    )}}
                  {% else %}
                    <p class="has-margin-x">No data</p>
                  {% endif %}
                {% endcall %}
              </div>
            </div>

          </div>
        {% endif %}
        {# tab: static.virustotal #}
        {% if pre.virustotal %}
          <div id="tab-virus-total">
            {# Antivirus result list #}
            {% call ui_box(title="Antivirus Engines", has_padding=False) %}
              {{ render_table(
                  data=pre.virustotal.avs,
                  cols=["category","engine_name","engine_version","method","result"],
                  labels=["Category","Name","Version","Method","Result"],
                  has_sticky_header=True
              )}}
            {% endcall %}
          </div>
        {% endif %}
        {# tab: static.misp #}
        {% if pre.misp %}
          <div id="tab-misp">
            {% call ui_box(title="MISP", has_padding=False) %}
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>IOC</th>
                    <th>Description</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for m in pre.misp %}
                    <tr>
                      <td><a class="is-link" href="{{ m.url }}" target="_blank" title="Open in MISP">{{ m.id }}</a></td>
                      <td class="is-monospace has-auto-width">{{ m.ioc }}</td>
                      <td>{{ m.description }}</td>
                      <td class="is-datetime">{{ m.datetime|formatisodatetime }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            {% endcall %}
          </div>
        {% endif %}

      </section>
    </div>
  </div>
{% endblock %}
