{% extends "base.html.jinja2" %}
{% set active_page = "analyses" %}
{% set report_page = "static" %}
{% set title = "Analysis - static analysis" %}

{% from 'macros.html.jinja2' import render_table, render_dict, ui_box, color_class, color_text %}

{% block body %}
  <div class="container is-portal-view">
    <div class="columns is-divided is-vtop">
      <aside class="column is-auto has-padding is-sticky">
        {% include "partial/analysis-index.html.jinja2" %}
      </aside>
      <section class="column has-padding">

        <h2>Static analysis</h2>
        <p>Static analysis and an overview from the results of other analysis providers.</p>

        <nav class="tabbar has-background-transparent" data-enhance {# data-priority="tab-pefiles,tab-virustotal,tab-irma" #} id="staticReport">
          <a class="tabbar-link" href="#tab-summary">Summary</a>
        </nav>

        {% if debug_template_data %}
          {% call ui_box(title="Template data", has_padding=False, collapsed=True) %}
            <h3 class="has-margin-x">Analysis</h3>
            {{ render_dict(analysis) }}
            <h3 class="has-margin-x">Pre</h3>
            {{ render_dict(pre) }}
          {% endcall %}
        {% endif %}

        {# tab: summary of static analysis #}
        <div id="tab-summary">
          {% call ui_box(title="Summary") %}
          <div class="columns has-padding is-divided">
            <div class="column is-auto">
              <div class="ratio-1-1">
                <div class="ratio-content">
                  <p class="{{ color_text(analysis.score) }} has-text-huge no-margin"><strong>{{ analysis.score }}</strong><sub class="has-text-light">/10</sub></p>
                </div>
                <div class="ratio-content is-bottom has-text-small has-half-opacity">Analysis score</div>
              </div>
            </div>
            <div class="column">
              <h3 class="no-margin-bottom is-monospace">
                <strong>{{ analysis.id }}</strong>
                <span class="pull-right has-half-opacity">{{ analysis.state|humanstate }}</span>
              </h3>
              <p class="has-line-break has-text-small">
                <span class="icon">
                  <i class="far fa-file"></i>
                </span> {{ analysis.target.filename }}
              </p>
              <ul class="list is-horizontal no-margin-bottom has-text-small">
                <li title="Date of creation">
                  <span class="icon">
                    <i class="far fa-calendar"></i>
                  </span> {{ analysis.created_on | formatdatetime }}
                </li>
                <li>
                  <span class="icon">
                    <i class="fas fa-compact-disc"></i>
                  </span> {{ analysis.target.size | filesizeformat }}
                </li>
                <li class="is-monospace">
                  <span class="icon">
                    <i class="fas fa-terminal"></i>
                  </span> {{ analysis.target.media_type }}
                </li>
              </ul>
              {% if analysis.families|length %}
                <div class="tag-list has-margin-top">
                  <span class="label">Detected families:</span>
                  {% for family in analysis.families %}
                    <span class="tag no-margin-top is-red">{{ family }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
          {% endcall %}
        </div>

        {# tab: static.virustotal #}
        {% if pre.virustotal %}
          <div id="tab-virus-total">
            {% call ui_box(title="Antivirus Engines", has_padding=False, collapsed=True) %}
              {{ render_table(
                  data=pre.virustotal.avs,
                  cols=["category","engine_name","engine_version","method","result"],
                  labels=["Category","Name","Version","Method","Result"],
                  has_sticky_header=True
              )}}
            {% endcall %}
          </div>
        {% endif %}
        {# tab: static.irma #}
        {% if pre.irma %}
        <div id="tab-irma">
            {% call ui_box(title="IRMA Antivirus Engines", has_padding=False, collapsed=True) %}
              {{ render_table(
                  data=pre.irma.probe_results.antivirus,
                  cols=["engine_name","result"],
                  labels=["Name","Result"],
                  has_sticky_header=True
              )}}
            {% endcall %}
          </div>
        {% endif %}
        {# tab: static.misp #}
        {% if pre.misp %}
          <div id="tab-misp">
            {% call ui_box(title="MISP", has_padding=False, collapsed=True) %}
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>IOC</th>
                    <th>Description</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for m in pre.misp %}
                    <tr>
                      <td><a class="is-link" href="{{ m.url }}" target="_blank" title="Open in MISP">{{ m.id }}</a></td>
                      <td class="is-monospace has-auto-width">{{ m.ioc }}</td>
                      <td>{{ m.description }}</td>
                      <td class="is-datetime">{{ m.datetime|formatisodatetime }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endcall %}
          </div>
        {% endif %}
        {# tab: pre.intelmq #}
        {% if pre.intelmq %}
          <div id="tab-intelmq">
            {% call ui_box(title="IntelMQ", has_padding=False, collapsed=True) %}
              <table class="table has-sticky-header">
                <thead>
                  <tr>
                    <th>Provider</th>
                    <th>Type</th>
                    <th>IOC</th>
                    <th>Taxonomy</th>
                    <th>Time Source</th>
                    <th>Time Observation</th>
                  </tr>
                </thead>
                <tbody>
                  {% for result in pre.intelmq %}
                    <tr>
                      <td>
                        <p class="has-text-weight-heavy no-margin-y has-text-small">{{ result.feed_provider }}</p>
                        <p class="no-margin-bottom has-text-small">{{ result.feed_name }}</p>
                      </td>
                      <td>{{ result.classification_type }}</td>
                      <td class="is-wrapped has-ellipsis" data-click-to-copy data-value="{{ result.ioc }}">{{ result.ioc }}</td>
                      <td>{{ result.classification_taxonomy }}</td>
                      <td class="is-mini">{{ result.time_source|formatisodatetime }}</td>
                      <td class="is-mini">{{ result.time_observation|formatisodatetime }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endcall %}
          </div>
        {% endif %}
        {% if pre.static and pre.static.office %}
          <div id="tab-office">
            {% call ui_box(title="Extracted macros", has_padding=False, collapsed=True) %}
              <table class="table has-border no-border-x">
                <tbody>
                  {% for macro in pre.static.office.macros %}
                    <tr>
                      <td>
                        <p class="label has-text-small">Stream:</p>
                        <code>{{ macro.stream }}</code>
                      </td>
                      <td>
                        <p class="label has-text-small">File name:</p>
                        <code>{{ macro.filename }}</code>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="no-padding-x no-padding-top">
                        <details class="details box no-radius no-margin-y has-border-bottom">
                          <summary class="has-padding">
                            <p>View original code</p>
                          </summary>
                          {% if macro.orig_code %}
                            <pre class="code has-padding"><code>{{ macro.orig_code }}</code></pre>
                          {% else %}
                            <p class="has-half-opacity"><em>Empty</em></p>
                          {% endif %}
                        </details>
                        <details class="details box has-shadow no-radius no-margin-y has-border-bottom">
                          <summary>
                            <p>View deobfuscated code</p>
                          </summary>
                          {% if macro.deobf %}
                            <pre class="code has-padding"><code>{{ macro.deobf }}</code></pre>
                          {% else %}
                            <p class="has-half-opacity"><em>No deobfuscated code</em></p>
                          {% endif %}
                        </details>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endcall %}
          </div>
        {% endif %}
      </section>
    </div>
  </div>
{% endblock %}
