<h4 class="label is-set-title has-margin-x has-padding clear-box">
  Advanced analysis options
  <a class="is-link pull-right" href="#" title="Go to documentation"><i class="fas fa-book"></i></a>
</h4>
<div class="box has-background-light has-margin-x">
  <div class="has-padding-x">
    <div class="field has-margin-x">
      <div class="control is-checkable">
        <input type="checkbox" id="orig-filename" name="orig-filename" />
        <label for="orig-filename">Use original filename</label>
        <p class="has-text-small has-half-opacity no-margin-bottom">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Ignore detected file type by the identification stage
        </p>
      </div>
    </div>
  </div>
  <div class="has-padding-x">
    <div class="field has-margin-x">
      <div class="control">
        <label for="command" class="label">Launch commands:</label>
        <input class="input" type="text" name="command" id="command" />
        <p class="has-text-small has-half-opacity no-margin-bottom">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Command that is used to launch the target. Use <span data-click-to-copy class="is-monospace has-text-red">%PAYLOAD%</span> where the target name should be on launch
        </p>
      </div>
    </div>
  </div>
</div>
