{# Renders a file selection tree if the sample has child contents #}
<ul class="list is-tree" id="filetree" data-enhance>
  {% set uniq = namespace(value=0) %}
  {%- for child in unpacked.children recursive %}

    {% set uniq.value = uniq.value + 1 %}

    <li class="{% if child.type in ["container", "directory"]  %}is-parent{% endif %}">
      <input type="checkbox" id="{{ uniq.value }}-container" class="list-collapse" />
      {% if child.type == "directory" %}
        <label for="{{ uniq.value }}-container">
      {% elif child.type == "container" %}
        <label for="{{ uniq.value }}-container" title="{{ child.finger.magic_human }}">
      {% else %}
        <label for="{{ uniq.value }}" title="{{ child.finger.magic_human }}">
      {% endif %}
        <div class="columns is-divided has-tiny-gaps {% if not child.selectable and not child.type in ["container", "directory"] %}is-disabled{% endif %}">
          {% if child.type != "directory" %}
            <div class="column is-auto">
              <input type="radio" name="selected-file" id="{{ uniq.value }}"  value="{{ child.id }}"{% if child.selected %}checked{% endif %} {% if not child.selectable %}disabled{% endif %} />
            </div>
          {% endif %}
          <div class="column is-auto">
            {% if child.type == 'container' %}
              <i class="fas fa-file-archive"></i>
            {% elif child.type == 'directory' %}
              <i class="fas fa-folder"></i>
            {% else %}
              <i class="fas fa-file"></i>
            {% endif %}
          </div>
          <div class="column">
            {% if child.type in ["container", "directory"] %}
              <strong class="has-text-wrapped">{{ child.filename}}</strong>
            {% else %}
              <span class="has-text-wrapped">{{ child.filename }}</span>
            {% endif %}
            {% if child.type in ["file", "container"] %}
              <ul class="list is-horizontal has-text-small has-margin-top no-margin-left no-padding-left">
                <li>{{ child.size|filesizeformat }}</li>
                <li>{{ child.finger.magic_human }}</li>
              </ul>
            {% endif %}
          </div>
        </div>
      </label>
      {% if child.children|length > 0 %}
        <ul>
          {{ loop(child.children) }}
        </ul>
      {% endif %}
    </li>

  {%- endfor %}
</ul>
