<h4 class="label is-set-title has-margin-x has-padding clear-box">
  Machine(s) <span id="total-machines" class="tag is-rounded">0</span>
  <a class="is-link pull-right" href="#" title="Go to documentation"><i class="fas fa-book"></i></a>
</h4>
<div class="box has-background-light has-margin-x">
  <p class="has-margin-x has-padding-x">Select one or more OS and OS version combinations for which tasks should be created. Network routes and the target launch command can be changed per platform. Machine tags can be added to each platform.</p>
  <div class="field has-margin-x has-padding-x">
    <div class="control is-checkable">
      <input type="checkbox" value="" checked id="machine-auto" />
      <label for="machine-auto">Automatically select best suitable platform(s).</label>
    </div>
  </div>
  <div class="columns is-gapless is-divided has-margin-x has-padding-x" id="pick-machine">
    <div class="column">
      <div class="field is-inline no-margin-y no-radius-right">
        <label class="label">OS</label>
        <div class="control is-select">
          <select class="input no-shadow" name="platform" id="platform">
            {% for p in possible_settings.platforms %}
              <option value="{{ p.platform }}" {% if p.default %}selected{% endif %}>{{ p.platform|e }} {% if p.default %}(Default){% endif %}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field is-inline no-margin-y no-radius">
        <label class="label">Version</label>
        <div class="control is-select">
          <select class="input no-shadow" name="version" id="version">
            {% for p in possible_settings.platforms %}
              {% for version in p.os_version %}
                <option data-platform="{{ p.platform }}" value="{{ version }}">{{ version|e }}</option>
              {% endfor %}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <button type="button" class="column is-auto button is-blue no-radius-left" id="add-platform">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div id="machinery" class="has-margin-x has-padding-x">
    {# populated in submit.settings.js #}
  </div>
</div>
