<h4 class="label is-set-title has-margin-x has-padding clear-box">
  General analysis options
  <a class="is-link pull-right" href="#" title="Go to documentation"><i class="fas fa-book"></i></a>
</h4>
<div class="box has-background-light has-margin-x">
  <div class="columns is-divided">
    <div class="column">
      <div class="field">
        {# Timeout #}
        <label class="label">Timeout</label>
        <div class="control is-checkable">
          <input type="radio" value="30" id="to-30" name="timeout" />
          <label for="to-30">30 seconds</label>
        </div>
        <div class="control is-checkable">
          <input type="radio" value="60" id="to-60" name="timeout" checked />
          <label for="to-60">1 minute</label>
        </div>
        <div class="control is-checkable">
          <input type="radio" value="120" id="to-120" name="timeout" />
          <label for="to-120">2 minutes</label>
        </div>
        <div class="control is-checkable">
          <input type="radio" value="" id="to-custom" name="timeout" />
          <label class="label" for="to-custom">
            <input type="number" placeholder="Custom (in seconds)" class="input" id="to-custom-value" />
          </label>
        </div>
        <p class="has-text-small has-half-opacity no-margin-bottom">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Time in seconds before VM can shut down
        </p>
      </div>
      <div class="field">
        <div class="control is-checkable">
          <input type="checkbox" id="orig-filename" name="orig-filename" />
          <label for="orig-filename">Use original filename</label>
          <p class="has-text-small has-half-opacity no-margin-bottom">
            <span class="icon">
              <i class="fas fa-info-circle"></i>
            </span>
            Ignore detected file type by the identification stage
          </p>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label for="command" class="label">Launch commands:</label>
          <div class="control">
            <input class="input" type="text" name="command" id="command" />
          </div>
          <p class="has-text-small has-half-opacity no-margin-bottom">
            <span class="icon">
              <i class="fas fa-info-circle"></i>
            </span>
            Command that is used to launch the target. Use <span data-click-to-copy class="is-monospace has-text-red">%PAYLOAD%</span> where the target name should be on launch
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        {# priority #}
        <label class="label" for="priority">Priority</label>
        <div class="control is-select">
          <select name="priority" class="input" id="priority">
            <option value="1" selected>Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
          </select>
        </div>
        <p class="has-text-small has-half-opacity">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Prioritizes task in queue if necessary
        </p>
      </div>
      <div class="field">
        <label class="label has-margin-top" for="routing">Network routing</label>
        <div class="control is-select">
          <select class="input" name="route" id="route" data-route-type>
            <option value="" selected>Default</option>
            <option value="drop">Drop</option>
            <option value="internet">Internet</option>
            <option value="vpn">VPN</option>
          </select>
        </div>
        <div class="field is-inline no-padding-y no-padding-right no-margin-top" id="select-vpn-country" data-route-country-field hidden>
          <label class="label">Country</label>
          <div class="control is-select">
            <select class="input" name="country" id="country" data-route-country>
              <option>First available</option>
              <optgroup label="Available countries">
                <option value="fr">France</option>
                <option value="de">Germany</option>
                <option value="nl">Netherlands</option>
                <option value="ee">Estonia</option>
              </optgroup>
            </select>
          </div>
        </div>
        <p class="has-text-small has-half-opacity">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          Configure protocol for internet usage
        </p>
      </div>
      {% if analysis.category == 'url' %}
        <div class="field">
          {# browser #}
          <label class="label">Browser</label>
          <div class="control is-select">
            <select class="input">
              <option value="default">Default</option>
              <option value="ie">Internet Explorer</option>
              <option value="firefox">Firefox</option>
              <option value="chrome">Chrome</option>
            </select>
          </div>
          <p class="has-text-small has-half-opacity">
            <span class="icon">
              <i class="fas fa-info-circle"></i>
            </span>
            Choose browser to open the submitted URL in.
          </p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
