{% set submit_levels = [
  ('submit', 'Submit'),
  ('settings', 'Settings')
] -%}
{% set active_level = active_level|default('submit') %}

<section class="section is-small has-background-white no-padding-bottom">
  <div class="container">
    <h1>Submit file for analysis</h1>
    <p>Upload a sample and start analysis by following each step in this form.</p>
    <nav class="tabbar">
      {% for name, caption in submit_levels %}
        <p class="tabbar-link {% if active_level == name %}is-active{% endif %}">{{ caption|e }}</p>
      {% endfor %}
    </nav>
  </div>
</section>
