{% for child in unpacked.children %}
 <li class='task-list-item'>
     <label for="{{ fcount }}">
    {% if not isContainer %}
      <input type="radio" name="selected-file" id="a" {% if child.selected %}checked{% endif %} />
    {% endif %}
    <span class="icon">
      {% if child.type == 'container' %}
        <i class="fas fa-file-archive"></i>
      {% elif child.type == 'directory' %}
        <i class="fas fa-folder"></i>
      {% else %}
        <i class="fas fa-file"></i>
      {% endif %}
    </span>
    {% if isContainer %}
      <strong>{{ child.filename|safe }}</strong>
    {% else %}
      {{ child.filename|safe }}
    {% endif %}
  </label>
     {% if child.children %}
        {% with unpacked=child.children %}
            {% include "submit/partial/treeitem.html" %}
         {% endwith %}
     {% endif %}
 </li>
 {% endfor %}
