{% extends "base.html.jinja2" %}
{% set active_page = "submit" %}
{% set active_level = 'settings' %}
{% set title = "Configure submission" %}

{% from 'macros.html.jinja2' import render_dict, ui_box %}

{# custom javascript with specific functionality for this page. note: it uses functionalities defined in ui.js #}
{% block page_script %}
  <script>
    (function() {
      // when available, store the PUT url in this application scope for access
      // in the settings js file.
      window.Application = Object.assign(window.Application || {}, {
        analysis_id: "{{ analysis_id }}",
        category: "{{ analysis.category }}"
      });
    }());
  </script>
  <script src="{{ static('js/submit.settings.js') }}"></script>
{% endblock %}

{% block body %}
  {% include "submit/partial/tabbar.html.jinja2" %}
  <section class="section">
    <div class="container">
      <div class="columns is-divided">
        {# Sample information #}
        <div class="column">
          {% if debug_template_data %}
            {% call ui_box(title="Template data", collapsed=True) %}
              {% if unpacked %}
                {{ render_dict(unpacked) }}
              {% endif %}
            {% endcall %}
          {% endif %}
          {% if analysis.category == 'file' %}
            {% if unpacked %}
              <div class="box has-shadow">
                <div class="control is-checkable">
                  <input type="checkbox" id="toggle-disabled" checked />
                  <label class="label" for="toggle-disabled">Only show interesting files <span id="count">(<span>0</span> hidden from view)</span></label>
                </div>
              </div>
              <div class="box has-shadow no-padding-x">
                <div class="box is-medium has-background-light has-margin-x no-margin-y">
                  <div class="columns is-vcenter {% if not unpacked.selectable %}is-disabled{% endif %}">
                    <div class="column no-margin-x">
                      <div class="control is-checkable">
                        <input type="radio" id="toggle-disabled" name="selected-file" value="{{ unpacked.id }}" {% if unpacked.selected %}checked{% endif %} />
                        <label class="label" for="toggle-disabled"></label>
                      </div>
                    </div>
                    <div class="column no-margin">
                      <span class="icon is-big"><i class="fas fa-file-archive"></i></span>
                    </div>
                    <div class="column is-fill">
                      <h3 class="no-margin-y has-text-wrapped">{{ unpacked.filename }}</h3>
                      <ul class="list is-horizontal has-text-small no-margin">
                        <li>{{ unpacked.finger.magic_human }}</li>
                        <li>{{ unpacked.size | filesizeformat }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                {% if unpacked.children|length > 0 %}
                  {% include "submit/partial/filetree.html.jinja2" %}
                {% endif %}
              </div>
            {% endif %}
          {% elif analysis.category == 'url' %}
            <div class="box has-shadow">
              <strong class="label">Submitted URL:</strong>
              <h2 class="has-text-wrapped has-text-center no-margin-y box has-background-light has-text-blue">
                {{ analysis.submitted.url }}
              </h2>
            </div>
          {% endif %}
        </div>
        {# Options form #}
        <div class="column">
          <div class="box has-shadow no-padding-x">
            <form class="form">
              <nav class="tabbar" role="tablist">
                <a role="tab" href="#options" class="tabbar-link is-active">Options</a>
                <a role="tab" href="#machines" class="tabbar-link">Machine(s)</a>
                <a role="tab" href="#advanced" class="tabbar-link">Advanced</a>
              </nav>
              <div class="box no-padding">
                <div role="region" id="options">{% include "submit/partial/options.html.jinja2" %}</div>
                <div role="region" id="machines" hidden>{% include "submit/partial/machinery.html.jinja2" %}</div>
                <div role="region" id="advanced" hidden>{% include "submit/partial/advanced-options.html.jinja2" %}</div>
              </div>
            </form>
          </div>
          <div class="box has-shadow" id="conclude-analysis">
            <!-- inject any messages here -->
            <div class="columns is-between is-vcenter">
              <div class="column">
                <p class="no-margin-y">
                  <span class="icon">
                    <i class="fas fa-check"></i>
                  </span>
                  Proceed to analysis
                </p>
              </div>
              <div class="column">
                <button class="button is-blue" id="start-analysis">Start</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
