{% extends "base.html.jinja2" %}
{% set active_page = "reports" %}
{% set title = "Reports" %}

{# Ideally, this page should feature a full-page table with a sticky header. #}
{% block body %}
  <section class="section is-full-page with-navbar">
    <table class="table has-sticky-header has-sticky-footer">
      <thead class="is-dark">
        <tr>
          <th class="has-sort is-asc"><a href="#">Analysis ID</a></th>
          <th class="has-sort is-desc"><a href="#">Created on</a></th>
          <th class="has-sort"><a href="#">Target</a></th>
          <th class="has-sort"><a href="#">Media type</a></th>
          <th class="has-sort"><a href="#">State</a></th>
          <th class="has-sort"><a href="#">Score</a></th>
        </tr>
      </thead>
      <tbody>
      {% for analysis in analyses %}
        <tr>
          <td class="is-monospace">{{ analysis.id }}</td>
          <td>{{ analysis.created_on | formatdatetime }}</td>
          <td></td>
          <td></td>
          <td>{{ analysis.state | humanstate }}</td>
          <td></td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <div class="columns is-between is-vcenter">
              <div class="column">Showing x from x and l to o bla bla bla gezeik</div>
              <div class="column">
                <div class="buttons-conjoined">
                  <a href="#" class="button is-blue">1</a>
                  <a href="#" class="button is-white">2</a>
                  <a href="#" class="button is-white">...</a>
                  <a href="#" class="button is-white">8</a>
                  <a href="#" class="button is-white">9</a>
                  <a href="#" class="button is-white">10</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </section>
{% endblock %}
