@import url(assets/fonts/Merriweather-Regular.ttf);
@import url(assets/fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf);

html, body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

pre {
    margin-bottom: 2rem;
}

p {
    margin-block: 1rem;
}

hr {
    margin-block: 2rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-weight: 700;
    font-family: 'Merriweather_Sans', sans-serif;
}

.rst-content code {
    color: #0174BC;
    background-color: #F5FBFF;
}

.wy-nav-side {
    font-family: "Merriweather Sans", sans-serif;
    background-color: #F5FBFF;
    border-right: 1px solid #ddd;
}

.wy-side-nav-search input[type=text] {
    padding: 0.6rem;
    font-size: 1rem;
}

.wy-nav-content {
    max-width: 900px;

}
.wy-nav-content-wrap {
    background-color: #fcfcfc;
}

.rst-content pre code {
    color: #404040;
    background-color: #eeffcc;
}

.wy-menu-vertical a{
    color: #001F33;
    padding-block: 0.20rem;
    padding-left: 2rem;
}

.wy-menu-vertical a:hover{
    color: #fff;
    background-color: #0174BC;
}

.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    background-color: #0174BC;
    color: #fff;
    padding-block: 0.20rem;
    padding-left: 2rem;
}

.wy-menu-vertical p.caption {
    /* border-bottom: 1px solid transparent; */
    /* border-image: linear-gradient(to right, rgba(1, 116, 188, 1), rgba(1, 116, 188, 0.75), rgba(0, 0, 0, 0)); */
    /* border-image-slice: 1; */
    /* width: 100%; */
    margin-top: 1rem;
}

.wy-side-nav-search {
    background-color: #0174BC;
}

.caption-text {
    font-size: 1rem;
    color: #013F65;
}

.wy-menu-vertical li ul li a {
    background-color: #0174BC;
}

.wy-menu-vertical li.current a:hover {
    color: #fff;
    background-color: #015E98;
}

.wy-menu-vertical li.toctree-l2 a {
    color: #fff;
}

.wy-menu-vertical li.toctree-l2.current>a, .wy-menu-vertical li.toctree-l2.current{
    background-color: #015E98;
    color: #fff;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
    background-color: #013F65;
    font-size: 1em;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background-color: #015E98;
    font-size: 0.9em;
    padding-left: 3rem;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l3>a:hover {
    background-color: #013F65;
    padding-left: 3rem;
}

.rst-versions .rst-current-version {
    background-color:  #0174BC;
    color: #fff;
}

.fa-minus-square-o:before, .wy-menu-vertical li.current>a button.toctree-expand:before, .wy-menu-vertical li.on a button.toctree-expand:before {
    color: #fff;
}

.rst-content pre code {
    border-radius: 0.5rem;
    color: #c5c8c6;
    background-color: #1d1f21;
}

.wy-menu-vertical li.toctree-l2.current>a {
    border-bottom: 1px solid #c9c9c9;
}

.wy-menu-vertical li.toctree-l2.current>a {
    border-bottom: 1px solid #c9c9c9;
}

.wy-menu-vertical li.toctree-l3.current>a {
    border-bottom: 1px solid #c9c9c9;
}

.rst-content .note {
    border-radius: 0.5rem;
    border: 2px solid #6ab0de;
}

.rst-content .error {
    border-radius: 0.5rem;
    border: 2px solid #f29f97;
}
