{% extends "base.html.jinja2" %}
{% set active_page = "reports" %}
{% set report_page = "sample" %}
{% set title = "Report" %}

{% block body %}
  <div class="container is-fixed">
    <div class="columns is-divided">
      <aside class="column is-auto has-padding">
        {% include "report/partial/sidebar.html.jinja2" %}
      </aside>
      <section class="column has-padding">

        <h2>Sample analysis</h2>
        <p>Description and overview of sample and submission configuration.</p>

        <div class="box has-background-white has-shadow no-padding has-border">
          <h3 class="box-title">Target</h3>
          <div class="columns has-padding is-divided">
            {# <div class="column is-auto">
              <div class="ratio-1-1">
                <div class="ratio-content">
                  <p class="has-text-red has-text-huge no-margin"><strong>7</strong><sub class="has-text-light">/10</sub></p>
                </div>
                <div class="ratio-content is-bottom">
                  <span class="tag is-red">Emotet</span>
                </div>
              </div>
            </div> #}
            <div class="column">
              <h3 class="has-line-break"><i class="fas fa-file-archive"></i> {{ analysis.target.filename }}</h3>
              <h4 class="has-half-opacity no-margin-bottom"><i class="fas fa-hashtag"></i> {{ analysis.id }}</h4>
              <ul class="list is-horizontal no-margin-bottom">
                <li>reported on {{ analysis.created_on | formatdatetime }}</li>
                <li>{{ analysis.target.size | filesizeformat }}</li>
                <li class="is-monospace">{{ analysis.target.media_type }}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="box has-background-white has-shadow no-padding has-border">
          <h3 class="box-title">Target summary</h3>
          <div class="tabbar" data-enhance>
            <a href="#submission" class="tabbar-link">Submission</a>
            <a href="#settings" class="tabbar-link">Settings</a>
            <a href="#file-analysis" class="tabbar-link is-active">Target</a>
          </div>

          <table class="table" id="submission" hidden>
            <thead>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="no-line-break"><strong>Category</strong></td>
                <td class="has-line-break">{{ analysis.submitted.category }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>File name</strong></td>
                <td class="has-line-break">{{ analysis.submitted.filename }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Size</strong></td>
                <td class="has-line-break">{{ analysis.submitted.size | filesizeformat }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Type</strong></td>
                <td class="has-line-break">{{ analysis.submitted.type }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Media Type</strong></td>
                <td class="has-line-break">{{ analysis.submitted.media_type }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>MD5</strong></td>
                <td class="has-line-break">{{ analysis.submitted.md5 }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>SHA1</strong></td>
                <td class="has-line-break">{{ analysis.submitted.sha1 }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>SHA256</strong></td>
                <td class="has-line-break">{{ analysis.submitted.sha256 }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>SHA512</strong></td>
                <td class="has-line-break">{{ analysis.submitted.sha512 }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table" id="settings" hidden>
            <thead>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="no-line-break"><strong>Timeout</strong></td>
                <td class="has-line-break">{{ analysis.settings.timeout }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Priority</strong></td>
                <td class="has-line-break">{{ analysis.settings.priority }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Platforms</strong></td>
                <td class="has-line-break">{{ analysis.settings.platforms }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Machines</strong></td>
                <td class="has-line-break">{{ analysis.settings.machines }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Memory dump</strong></td>
                <td class="has-line-break">{{ analysis.settings.dump_memory }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Options</strong></td>
                <td class="has-line-break">{{ analysis.settings.options }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Enforce timeout</strong></td>
                <td class="has-line-break">{{ analysis.settings.enforce_timeout }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Extracted path</strong></td>
                <td class="has-line-break">{{ analysis.settings.extrpath }}</td>
              </tr>
            </tbody>
          </table>
          <table class="table" id="file-analysis">
            <thead>
              <tr>
                <th>Property</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="no-line-break"><strong>File name</strong></td>
                <td class="has-line-break">{{ analysis.target.filename }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Size</strong></td>
                <td class="has-line-break">{{ analysis.target.size | filesizeformat }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Type</strong></td>
                <td class="has-line-break">{{ analysis.target.filetype }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>Media Type</strong></td>
                <td class="has-line-break">{{ analysis.target.media_type }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>MD5</strong></td>
                <td class="has-line-break">{{ analysis.target.md5 }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>SHA1</strong></td>
                <td class="has-line-break">{{ analysis.target.sha1 }}</td>
              </tr>
              <tr>
                <td class="no-line-break"><strong>SHA256</strong></td>
                <td class="has-line-break">{{ analysis.target.sha256 }}</td>
              </tr>
            </tbody>
          </table>

        </div>

      </section>
    </div>
  </div>
{% endblock %}
