{% extends "base.html.jinja2" %}
{% set active_page = "reports" %}
{% set report_page = "static" %}
{% set title = "Report - static analysis" %}

{% from 'macros.html.jinja2' import render_dict, ui_box %}

{% block page_script %}
  <script type="text/javascript">

    // scroll to ioc result in av table when clicking a tag
    (function scrollToIOC() {

      const ioc = document.querySelector('#box-IOCs');
      const avs = document.querySelector('#box-Antivirus-Engines .table');

      function compromiseStickyHeader() {
        if(!avs.classList.contains('has-sticky-header'))
          return 0;
        else
          return avs.querySelector('thead').offsetHeight;
      }

      [...ioc.querySelectorAll('.tag')].forEach(tag => {
        tag.addEventListener('click', ev => {
          ev.preventDefault();
          const result = avs.querySelector('tr' + tag.getAttribute('href'));
          if(result) {
            let pos = result.getBoundingClientRect().top + window.scrollY;
            window.scroll(0, pos - compromiseStickyHeader());
            setTimeout(() => blink(result), 500);
          }
        });
      });

    }());

  </script>
{% endblock %}

{% block body %}
  <div class="container is-fixed">
    <div class="columns is-divided is-vtop">
      <aside class="column is-auto has-padding is-sticky">
        {% include "report/partial/sidebar.html.jinja2" %}
      </aside>
      <section class="column has-padding">

        <h2>Static analysis</h2>
        <p>Cuckoo static analysis and an overview from the results of other analysis providers.</p>

        <nav class="tabbar has-background-transparent" data-enhance>
          <a class="tabbar-link is-active" href="#tab-static">Static</a>
          <a class="tabbar-link" href="#tab-pefiles">PE Files</a>
          <a class="tabbar-link" href="#tab-virus-total">Antivirus</a>
        </nav>

        {# tab: static.overview #}
        <div id="tab-static">
          {% call ui_box(title="Target") %}
            <div class="columns has-padding is-divided">
              <div class="column is-auto">
                <div class="ratio-1-1">
                  <div class="ratio-content">
                    <p class="has-text-red has-text-huge no-margin"><strong>{{ pre.score }}</strong><sub class="has-text-light">/10</sub></p>
                  </div>
                </div>
              </div>
              <div class="column">
                <h3 class="has-line-break"><i class="fas fa-file-archive"></i> {{ pre.target.filename }}</h3>
                <ul class="list is-horizontal no-margin-bottom">
                  <li>{{ pre.target.size | filesizeformat }}</li>
                  <li class="is-monospace">{{ pre.target.media_type }}</li>
                </ul>
                <a class="button has-margin-top" href="{{ url('Analysis/index', args=[analysis_id]) }}">Extended sample information</a>
              </div>
            </div>
          {% endcall %}
        </div>

        {# tab: static.target/static.pe #}
        <div id="tab-pefiles" hidden>

          {# PE Timestamp / imphash #}
          <div class="columns is-divided">
            <div class="column no-margin-left">
              {% call ui_box(title="PE Timestamp",display_title=False) %}
                <p class="label no-margin-top">PE Timestamp</p>
                <p class="is-monospace no-margin">{{ pre.static.pe.pe_timestamp }}</p>
              {% endcall %}
            </div>
            <div class="column no-margin-right">
              {% call ui_box(title="PE Timestamp",display_title=False) %}
                <p class="label no-margin-top">PE Imphash</p>
                <p class="is-monospace no-margin">{{ pre.static.pe.pe_imphash }}</p>
              {% endcall %}
            </div>
          </div>

          {# PE Sections #}
          {% call ui_box(title="PE Sections", has_padding=False) %}
            <table class="table has-sticky-header">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Size</th>
                  <th>Data size</th>
                  <th>Entropy</th>
                </tr>
              </thead>
              <tbody>
                {% for section in pre.static.pe.pe_sections %}
                  <tr>
                    <td>{{ section.name }}</td>
                    <td>{{ section.virtual_address }}</td>
                    <td>{{ section.virtual_size }}</td>
                    <td>{{ section.size_of_data }}</td>
                    <td>{{ section.entropy }}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="5">No results</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endcall %}

          {# PE Resources #}
          {% call ui_box(title="PE Resources", has_padding=False) %}
            <table class="table has-sticky-header">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Offset</th>
                  <th>Size</th>
                  <th>Language</th>
                  <th>Sub-language</th>
                  <th>File type</th>
                </tr>
              </thead>
              <tbody>
                {% for resource in pre.static.pe.pe_resources %}
                  <tr>
                    <td>{{ resource.name }}</td>
                    <td>{{ resource.offset }}</td>
                    <td>{{ resource.size }}</td>
                    <td>{{ resource.language }}</td>
                    <td>{{ resource.sublanguage }}</td>
                    <td>{{ resource.filetype }}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="6">No results</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endcall %}

          {# PE Sigatures #}
          {% call ui_box(title="PE Signatures") %}
            {% for signature in pre.static.pe.signatures %}
              <div class="box has-background-light no-margin-top has-border has-shadow">
                {{ render_dict(signature) }}
              </div>
            {% endfor %}
          {% endcall %}

          {# PE Imports & Exports #}
          <div class="columns is-divided">
            <div class="column no-margin-left">
              {% call ui_box(title="PE Imports", has_padding=False) %}
                <table class="table has-sticky-header">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in pre.static.pe.pe_imports %}
                      {% for i in p.imports %}
                        <tr>
                          <td>{{ i.name }}</td>
                          <td>{{ i.address }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="2">No results</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endcall %}
            </div>
            <div class="column no-margin-right">
              {% call ui_box(title="PE Imports", has_padding=False) %}
                <table class="table has-sticky-header">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in pre.static.pe.pe_exports %}
                      {% for e in p.exports %}
                        <tr>
                          <td>{{ e.name }}</td>
                          <td>{{ e.address }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="2">No results</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endcall %}
            </div>
          </div>

        </div>

        {# tab: static.virustotal #}
        <div id="tab-virus-total" hidden>

          {# Antivirus detected IOC's #}
          {% call ui_box(title="IOCs") %}
            <div id="ioc-tags" class="no-margin">
              {% for signature in pre.signatures %}
                  <h4 class="no-margin-bottom">{{ signature.name }}: {{ signature.description }}</h4>
                  {% if signature.iocs %}
                    <div class="tag-list">
                      {% for ioc in signature.iocs %}
                        <a href="#av-engine-{{ioc}}" class="tag">{{ ioc }}</a>
                      {% endfor %}
                    </div>
                  {% else %}
                    <p class="no-margin">No IOC's.</p>
                  {% endif %}
                {% else %}
                <p class="no-margin">No Data.</p>
              {% endfor %}
            </div>
          {% endcall %}

          {# Antivirus result list #}
          {% call ui_box(title="Antivirus Engines", has_padding=False) %}
            <table class="table has-sticky-header has-margin-top">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Name</th>
                  <th>Version</th>
                  <th>Method</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                {% for av in pre.virustotal.avs.values() %}
                  <tr id="av-engine-{{ av.engine_name }}">
                    <td>
                      {% if av.category == "malicious" %}
                        <p class="no-margin has-text-red has-text-weight-bold">{{ av.category }}</p>
                      {% else %}
                        <p class="no-margin">{{ av.category }}</p>
                      {% endif %}
                    </td>
                    <td>{{ av.engine_name }}</td>
                    <td>{{ av.engine_version }}</td>
                    <td>{{ av.method }}</td>
                    <td>{{ av.result }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endcall %}

        </div>

      </section>
    </div>
  </div>
{% endblock %}
