{% extends "base.html.jinja2" %}
{% set active_page = "reports" %}
{% set report_page = "static" %}
{% set title = "Report - static analysis" %}

{% block page_script %}
  <script type="text/javascript">

    // scroll to ioc result in av table when clicking a tag
    (function scrollToIOC() {

      const ioc = document.querySelector('#ioc');
      const avs = document.querySelector('#avs .table');

      function compromiseStickyHeader() {
        if(!avs.classList.contains('has-sticky-header'))
          return 0;
        else
          return avs.querySelector('thead').offsetHeight;
      }

      [...ioc.querySelectorAll('.tag')].forEach(tag => {
        tag.addEventListener('click', ev => {
          ev.preventDefault();
          const result = avs.querySelector('tr' + tag.getAttribute('href'));
          if(result) {
            let pos = result.getBoundingClientRect().top + window.scrollY;
            window.scroll(0, pos - compromiseStickyHeader());
            setTimeout(() => blink(result), 500);
          }
        });
      });

    }());

  </script>
{% endblock %}

{# renders a dict according to the data structure and contents. In theory,
you could use this macro to print out an entire JSON blob in a representable
format. uses <details> for native collapsing of dict-like childs. #}
{% macro render_dict(d) %}
  <ul class="list is-reset has-padding-x text-center">
    {% for key, value in d.items() %}
      <li>
        <details class="details box has-background-stack-shade is-grouped" {% if value is string or value is boolean %}open{% endif %}>
          <summary>
            <h4 class="no-margin has-text-small has-text-uppercased">
              <span class="has-half-opacity">{{ key }}:</span>
            </h4>
          </summary>
          {% if value is mapping %}
            {{ render_dict(value) }}
          {% elif value is iterable and not value is string %}
            <ul class="list">
              {% for v in value %}
                <li>{{ v }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="has-margin-left has-padding-left no-margin-y has-text-small is-monospace">{{ value }}</p>
          {% endif %}
        </details>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% block body %}
  <div class="container is-fixed">
    <div class="columns is-divided is-vtop">
      <aside class="column is-auto has-padding is-sticky">
        {% include "report/partial/sidebar.html.jinja2" %}
      </aside>
      <section class="column has-padding">

        <h2>Static analysis</h2>
        <p>Cuckoo static analysis and an overview from the results of other analysis providers.</p>

        <nav class="tabbar has-background-transparent" data-enhance>
          <a class="tabbar-link is-active" href="#tab-static">Static Analysis</a>
          <a class="tabbar-link" href="#tab-virus-total">Antivirus</a>
        </nav>

        {# tab: static.target/static.pe #}
        <div id="tab-static">

          <div class="box has-background-white has-shadow no-padding has-border">
            <h3 class="box-title">Target</h3>
            <div class="columns has-padding is-divided">
              <div class="column is-auto">
                <div class="ratio-1-1">
                  <div class="ratio-content">
                    <p class="has-text-red has-text-huge no-margin"><strong>{{ pre.score }}</strong><sub class="has-text-light">/10</sub></p>
                  </div>
                  {# <div class="ratio-content is-bottom">
                    <span class="tag is-red">Emotet</span>
                  </div> #}
                </div>
              </div>
              <div class="column">
                <h3 class="has-line-break"><i class="fas fa-file-archive"></i> {{ pre.target.filename }}</h3>
                <ul class="list is-horizontal no-margin-bottom">
                  <li>{{ pre.target.size | filesizeformat }}</li>
                  <li class="is-monospace">{{ pre.target.media_type }}</li>
                </ul>
                <a class="button has-margin-top" href="{{ url('Analysis/index', args=[analysis_id]) }}">Extended sample information</a>
              </div>
            </div>
          </div>

          <div class="columns is-divided">
            <div class="column no-margin-left">
              <div class="box has-background-white has-border has-shadow">
                <p class="label no-margin-top">PE Timestamp</p>
                <p class="is-monospace no-margin">{{ pre.static.pe.pe_timestamp }}</p>
              </div>
            </div>
            <div class="column no-margin-right">
              <div class="box has-background-white has-border has-shadow">
                <p class="label no-margin-top">PE Imphash</p>
                <p class="is-monospace no-margin">{{ pre.static.pe.pe_imphash }}</p>
              </div>
            </div>
          </div>

          <div class="box no-padding has-border">
            <h3 class="box-title">PE Sections
              <a href="#" onclick="toggleVisibility(this.parentNode.parentNode.querySelector('table'), null, event);" class="pull-right visibility-visible">
                <i class="fas chevron"></i>
              </a>
            </h3>
            <table class="table has-sticky-header">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Size</th>
                  <th>Data size</th>
                  <th>Entropy</th>
                </tr>
              </thead>
              <tbody>
                {% for section in pre.static.pe.pe_sections %}
                  <tr>
                    <td>{{ section.name }}</td>
                    <td>{{ section.virtual_address }}</td>
                    <td>{{ section.virtual_size }}</td>
                    <td>{{ section.size_of_data }}</td>
                    <td>{{ section.entropy }}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="5">No results</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="box no-padding has-margin-top has-border">
            <h3 class="box-title">PE Resources
              <a href="#" onclick="toggleVisibility(this.parentNode.parentNode.querySelector('table'), null, event);" class="pull-right visibility-visible">
                <i class="fas chevron"></i>
              </a>
            </h3>
            <table class="table has-sticky-header">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Offset</th>
                  <th>Size</th>
                  <th>Language</th>
                  <th>Sub-language</th>
                  <th>File type</th>
                </tr>
              </thead>
              <tbody>
                {% for resource in pre.static.pe.pe_resources %}
                  <tr>
                    <td>{{ resource.name }}</td>
                    <td>{{ resource.offset }}</td>
                    <td>{{ resource.size }}</td>
                    <td>{{ resource.language }}</td>
                    <td>{{ resource.sublanguage }}</td>
                    <td>{{ resource.filetype }}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="6">No results</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="box no-padding has-border">
            <h3 class="box-title">PE Signatures
              <a href="#" onclick="toggleVisibility(this.parentNode.parentNode.querySelector('#pe-signatures'), null, event);" class="pull-right visibility-visible">
                <i class="fas chevron"></i>
              </a>
            </h3>
            <div id="pe-signatures">
              {% for signature in pre.static.pe.signatures %}
                <div class="box has-background-light">
                  {{ render_dict(signature) }}
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="columns is-divided">
            <div class="column no-margin-left">
              <div class="box has-shadow has-border no-padding">
                <h3 class="box-title">PE Imports
                  <a href="#" onclick="toggleVisibility(this.parentNode.parentNode.querySelector('table'), null, event);" class="pull-right visibility-visible">
                    <i class="fas chevron"></i>
                  </a>
                </h3>
                <table class="table has-sticky-header">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in pre.static.pe.pe_imports %}
                      {% for i in p.imports %}
                        <tr>
                          <td>{{ i.name }}</td>
                          <td>{{ i.address }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="2">No results</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="column no-margin-right">
              <div class="box has-shadow has-border no-padding">
                <h3 class="box-title">PE Exports
                  <a href="#" onclick="toggleVisibility(this.parentNode.parentNode.querySelector('table'), null, event);" class="pull-right visibility-visible">
                    <i class="fas chevron"></i>
                  </a>
                </h3>
                <table class="table has-sticky-header">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in pre.static.pe.pe_exports %}
                      {% for e in p.exports %}
                        <tr>
                          <td>{{ e.name }}</td>
                          <td>{{ e.address }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="2">No results</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

        {# tab: static.virustotal #}
        <div id="tab-virus-total" hidden>
          <div class="box has-background-white has-shadow no-padding has-border" id="ioc">
            <h3 class="box-title">IOC's</h3>
            {% for signature in pre.signatures %}
              <div class="has-padding-x has-margin-y">
                <h4 class="no-margin-bottom">{{ signature.name }}: {{ signature.description }}</h4>
                {% if signature.iocs|length %}
                  <div class="tag-list">
                    {% for ioc in signature.iocs %}
                      <a href="#av-engine-{{ioc}}" class="tag">{{ ioc }}</a>
                    {% endfor %}
                  </div>
                {% else %}
                  <p>No IOC's.</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>

          <div class="box has-background-white has-shadow no-padding has-border" id="avs">
            <h3 class="box-title">Antivirus engines (provided by VirusTotal)</h3>
            <table class="table has-sticky-header has-margin-top">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Name</th>
                  <th>Version</th>
                  <th>Method</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                {% for av in pre.virustotal.avs.values() %}
                  <tr id="av-engine-{{ av.engine_name }}">
                    <td>
                      {% if av.category == "malicious" %}
                        <p class="no-margin has-text-red has-text-bold">{{ av.category }}</p>
                      {% else %}
                        <p class="no-margin">{{ av.category }}</p>
                      {% endif %}
                    </td>
                    <td>{{ av.engine_name }}</td>
                    <td>{{ av.engine_version }}</td>
                    <td>{{ av.method }}</td>
                    <td>{{ av.result }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </section>
    </div>
  </div>
{% endblock %}
