{% call ui_box(title="Machine information", has_padding=False) %}
  {# {{ render_dict(machine) }} #}
  <table class="table">
    <body>
      <tr>
        <td class="has-text-right"><strong>Name</strong></td>
        <td>{{ machine.name }}</td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>Label</strong></td>
        <td>{{ machine.label }}</td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>IP</strong></td>
        <td class="is-monospace">{{ machine.ip }}</td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>Platform</strong></td>
        <td>{{ machine.platform }}</td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>OS Version</strong></td>
        <td>{{ machine.os_version }}</td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>Machinery name</strong></td>
        <td>{{ machine.machinery_name }}</td>
      </tr>
      <tr>
        <td class="has-text-right"><strong>Tags</strong></td>
        <td>
          <div class="tag-list">
            {% for tag in machine.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
{% endcall %}
