{#
  Data-To-View pluralization. This dictionary ensures some control over dynamically
  rendered data views.

  set is_active: True for the active page to initialize on
  set ui_label to replace original key name with a humanized version
#}
{% set network_view_configuration = {
  'host': {
    'is_active': True,
    'ui_label': 'Host'
  },
  'udp': {
    'ui_label': 'UDP'
  },
  'dns': {
    'ui_label': 'DNS'
  },
  'domain': {
    'ui_label': 'Domain'
  },
  'tcp': {
    'ui_label': 'TCP'
  },
  'http': {
    'ui_label': 'HTTP'
  }
} %}

{% call ui_box(title="Network analysis", collapsed=False, has_padding=False) %}
  <nav class="tabbar no-margin-bottom" data-enhance>
    {% for key in network_view_configuration %}
      {% set view = network_view_configuration[key] | default({}) %}
      <a class="tabbar-link {% if view.is_active %}is-active{% endif %}" href="#network-analysis-{{ key }}">{{ view.ui_label | default(key) }}</a>
    {% endfor %}
  </nav>
  <div class="box no-margin-y has-background-light" id="network-analysis-host" {% if not network_view_configuration.host.is_active %}hidden{% endif %}>
    {% for host in report.network.host %}
      <p class="box has-background-white has-shadow is-monospace">{{ host }}</p>
    {% endfor %}
  </div>
  <div class="box no-margin-y has-background-light" id="network-analysis-udp" {% if not network_view_configuration.udp.is_active %}hidden{% endif %}>
    {% for udp in report.network.udp %}
      <div class="columns is-justified box has-shadow is-vcenter">
        <div class="column is-full has-margin-bottom has-text-center">{{ udp.ts }}</div>
        <div class="column is-fill has-text-right is-monospace">{{ udp.srcip }}:{{ udp.srcport }}</div>
        <div class="column is-auto no-line-break" title="size" data-tooltip>
          <span class="tag is-rounded is-monospace no-padding-x">
            <span class="icon"><i class="fas fa-chevron-right"></i></span>
            {{ udp.size }}
            <span class="icon"><i class="fas fa-chevron-right"></i></span>
          </span>
        </div>
        <div class="column is-fill is-monospace">{{ udp.dstip }}:{{ udp.dstport }}</div>
      </div>
    {% endfor %}
  </div>
  <div class="box no-margin-y has-background-light" id="network-analysis-dns" {% if not network_view_configuration.dns.is_active %}hidden{% endif %}>
    <details class="details has-no-hover" open>
      <summary>
        <h3>Query</h3>
      </summary>
      {% for query in report.network.dns.query %}
        <div class="columns is-justified box has-shadow is-vcenter">
          <div class="column is-full has-margin-bottom has-text-center">{{ query.ts }}</div>
          <div class="column is-fill has-text-right is-monospace">{{ query.srcip }}:{{ query.srcport }}</div>
          <div class="column is-auto no-line-break" title="type / name" data-tooltip>
            <span class="tag is-rounded is-monospace">{{ query.type }} - {{ query.name }}</span>
          </div>
          <div class="column is-fill is-monospace">{{ query.dstip }}:{{ query.dstport }}</div>
        </div>
      {% endfor %}
    </details>
    <details class="details has-no-hover" open>
      <summary>
        <h3>Response</h3>
      </summary>
      {% for response in report.network.dns.response %}
        <div class="columns is-justified box has-shadow is-vcenter">
          <div class="column is-full has-margin-bottom has-text-center">{{ response.ts }}</div>
          <div class="column is-fill has-text-right is-monospace">{{ response.srcip }}:{{ response.srcport }}</div>
          <div class="column is-auto no-line-break" title="type / name" data-tooltip>
            <span class="tag is-rounded is-monospace">{{ response.type }} - {{ response.data }}</span>
          </div>
          <div class="column is-fill is-monospace">{{ response.dstip }}:{{ response.dstport }}</div>
        </div>
      {% endfor %}
    </details>
  </div>
  <div class="box no-margin-y has-background-light" id="network-analysis-domain" {% if not network_view_configuration.domain.is_active %}hidden{% endif %}>
    {% for domain in report.network.domain %}
      <p class="box has-background-white has-shadow is-monospace">{{ domain }}</p>
    {% endfor %}
  </div>
  <div class="box no-margin-y has-background-light" id="network-analysis-tcp" {% if not network_view_configuration.tcp.is_active %}hidden{% endif %}>
    {% for tcp in report.network.tcp %}
      <div class="columns is-justified box has-shadow is-vcenter">
        <div class="column is-full has-margin-bottom has-text-center">{{ tcp.ts }}</div>
        <div class="column is-fill has-text-right is-monospace">{{ tcp.srcip }}:{{ tcp.srcport }}</div>
        <div class="column is-auto no-line-break" title="transmitted/received data size" data-tooltip>
          <span class="tag is-rounded is-monospace">
            {{ tcp.tx_size }}
            <span class="icon"><i class="fas fa-chevron-left"></i></span>
            <span class="icon"><i class="fas fa-chevron-right"></i></span>
            {{ tcp.rx_size }}
          </span>
        </div>
        <div class="column is-fill is-monospace">{{ tcp.dstip }}:{{ tcp.dstport }}</div>
      </div>
    {% endfor %}
  </div>
  <div id="network-analysis-http" {% if not network_view_configuration.http.is_active %}hidden{% endif %}>
    {{ network_view_configuration.http.ui_label }}
  </div>
{% endcall %}
