{#
  Data-To-View pluralization. This dictionary ensures some control over dynamically
  rendered data views.

  set is_active: True for the active page to initialize on
  set ui_label to replace original key name with a humanized version
#}
{% set network_view_configuration = {
  'host': {
    'is_active': True,
    'ui_label': 'Host'
  },
  'domain': {
    'ui_label': 'Domain'
  },
  'tcp': {
    'ui_label': 'TCP'
  },
  'udp': {
    'ui_label': 'UDP'
  },
  'dns': {
    'ui_label': 'DNS'
  },
  'http': {
    'ui_label': 'HTTP'
  },
  'smtp': {
    'ui_label': 'SMTP'
  }
} %}

{% call ui_box(title="Network analysis", collapsed=False, has_padding=False) %}
  <nav class="tabbar no-margin-bottom" role="tablist">
    {% for key in network_view_configuration %}
      {% set view = network_view_configuration[key] | default({}) %}
      <a role="tab" class="tabbar-link {% if view.is_active %}is-active{% endif %}" href="#network:{{ key }}">{{ view.ui_label | default(key) }}</a>
    {% endfor %}
  </nav>
  <div role="region" id="network:host" class="box no-margin-y has-background-light" {% if not network_view_configuration.host.is_active %}hidden{% endif %}>
    <p class="has-half-opacity">Hosts network communicated with.</p>
    {{ ui_strings(id="network-host",strings=report.network.host) }}
  </div>
  <div role="region" id="network:udp" class="box no-margin-y has-background-light" {% if not network_view_configuration.udp.is_active %}hidden{% endif %}>
    <p class="has-half-opacity">List of UDP communications.</p>
    {% for udp in report.network.udp %}
      <div class="columns is-justified box has-shadow is-vcenter">
        <div class="column is-fill has-text-right is-monospace">{{ udp.srcip }}:{{ udp.srcport }}</div>
        <div class="column is-auto no-line-break" title="size" data-tooltip>
          <span class="tag is-rounded is-monospace no-padding-x">
            <span class="icon"><i class="fas fa-chevron-right"></i></span>
            {{ udp.size }}
            <span class="icon"><i class="fas fa-chevron-right"></i></span>
          </span>
        </div>
        <div class="column is-fill is-monospace">{{ udp.dstip }}:{{ udp.dstport }}</div>
      </div>
    {% endfor %}
  </div>
  <div role="region" id="network:dns" class="box no-margin-y has-background-light" {% if not network_view_configuration.dns.is_active %}hidden{% endif %}>
    <p class="has-half-opacity">List of DNS queries and responses.</p>
    <details class="details has-no-hover" open>
      <summary>
        <h3>DNS Query</h3>
      </summary>
      {% for query in report.network.dns.query %}
        <div class="columns is-justified box has-shadow is-vcenter">
          <div class="column is-fill has-text-right is-monospace">{{ query.srcip }}:{{ query.srcport }}</div>
          <div class="column is-auto no-line-break" title="type / name" data-tooltip>
            <span class="tag is-rounded is-monospace">{{ query.type }} - {{ query.name }}</span>
          </div>
          <div class="column is-fill is-monospace">{{ query.dstip }}:{{ query.dstport }}</div>
        </div>
      {% endfor %}
    </details>
    <details class="details has-no-hover" open>
      <summary>
        <h3>DNS Response</h3>
      </summary>
      {% for response in report.network.dns.response %}
        <div class="columns is-justified box has-shadow is-vcenter">
          <div class="column is-fill has-text-right is-monospace">{{ response.srcip }}:{{ response.srcport }}</div>
          <div class="column is-auto no-line-break" title="type / name" data-tooltip>
            <span class="tag is-rounded is-monospace">{{ response.type }} - {{ response.data }}</span>
          </div>
          <div class="column is-fill is-monospace">{{ response.dstip }}:{{ response.dstport }}</div>
        </div>
      {% endfor %}
    </details>
  </div>
  <div role="region" id="network:domain" class="box no-margin-y has-background-light" {% if not network_view_configuration.domain.is_active %}hidden{% endif %}>
    <p class="has-half-opacity">List of resolved domains.</p>
    {{ ui_strings(id="network-domains",strings=report.network.domain) }}
  </div>
  <div role="region" id="network:tcp" class="box no-margin-y has-background-light" {% if not network_view_configuration.tcp.is_active %}hidden{% endif %}>
    <p class="has-half-opacity">List of TCP connections.</p>
    {% for tcp in report.network.tcp %}
      <div class="columns is-justified box has-shadow is-vcenter">
        <div class="column is-fill has-text-right is-monospace">{{ tcp.srcip }}:{{ tcp.srcport }}</div>
        <div class="column is-auto no-line-break" title="transmitted/received data size" data-tooltip>
          <span class="tag is-rounded is-monospace">
            {{ tcp.tx_size }}
            <span class="icon"><i class="fas fa-chevron-left"></i></span>
            <span class="icon"><i class="fas fa-chevron-right"></i></span>
            {{ tcp.rx_size }}
          </span>
        </div>
        <div class="column is-fill is-monospace">{{ tcp.dstip }}:{{ tcp.dstport }}</div>
      </div>
    {% endfor %}
  </div>
  <div role="region" id="network:http" class="box no-margin-y has-background-light" {% if not network_view_configuration.http.is_active %}hidden{% endif %}>
    <p class="has-half-opacity">List of HTTP requests and responses.</p>
    {% for req in report.network.http %}
      <div class="box has-background-white has-shadow no-margin-top">
        <div class="columns has-text-small box has-background-light no-margin">
          <div class="column">
            <h4 class="no-margin-top">Source</h4>
            {{ req.srcip }}:{{ req.srcport }}
          </div>
          <div class="column">
            <h4 class="no-margin-top">Destination</h4>
            {{ req.dstip }}:{{ req.dstport }}
          </div>
          <div class="column">
            <h4>URL</h4>
            <div class="columns is-vcenter no-margin-x no-padding-x">
              <div class="column is-auto no-margin-left"><span class="tag is-white has-text-weight-bold" data-tooltip title="Method">{{ req.request.method }}</span></div>
              <div class="column is-fill has-line-break"><p class="no-margin">{{ req.request.url }}</p></div>
              <div class="column is-auto no-margin-right"><span class="tag is-white has-text-weight-bold" data-tooltip title="Status">{{ req.response.status }}</span></div>
            </div>
          </div>
        </div>
        <div class="columns is-divided">
          <div class="column">
            <h4 class="has-half-opacity">Request</h4>
            <table class="table">
              <tbody>
                <tr>
                  <td class="has-text-right"><strong>Version</strong></td>
                  <td class="is-break">{{ req.request.version }}</td>
                </tr>
                <tr>
                  <td class="has-text-right"><strong>method</strong></td>
                  <td class="is-break">{{ req.request.method }}</td>
                </tr>
                <tr>
                  <td class="has-text-right"><strong>Length</strong></td>
                  <td class="is-break">{{ req.request.length }}</td>
                </tr>
                <tr>
                  <td class="has-text-right is-vtop"><strong>Headers</strong></td>
                  <td class="no-padding-x">
                    <table class="table is-monospace">
                      {% for header in req.request.headers %}
                        <tr>
                          <td class="no-padding-y is-auto-width"><strong>{{ header.key }}</strong></td>
                          <td class="no-padding-y">{{ header.value }}</td>
                        </tr>
                      {% endfor %}
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="column">
            <h4 class="has-half-opacity">Response</h4>
            <table class="table">
              <tbody>
                <tr>
                  <td class="has-text-right"><strong>Version</strong></td>
                  <td class="is-break">{{ req.response.version }}</td>
                </tr>
                <tr>
                  <td class="has-text-right"><strong>Status</strong></td>
                  <td class="is-break">{{ req.response.status }}</td>
                </tr>
                <tr>
                  <td class="has-text-right"><strong>Length</strong></td>
                  <td>{{ req.response.length }}</td>
                </tr>
                <tr>
                  <td class="has-text-right is-vtop"><strong>Headers</strong></td>
                  <td class="no-padding-x">
                    <table class="table is-monospace">
                      <tbody>
                        {% for header in req.response.headers %}
                          <tr>
                            <td class="no-padding-y is-auto-width"><strong>{{ header.key }}</strong></td>
                            <td class="no-padding-y">{{ header.value }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div role="region" id="network:smtp" class="box no-margin-y has-background-light" {% if not network_view_configuration.smtp.is_active %}hidden{% endif %}>
    <p class="has-half-opacity">Hosts network communicated with.</p>
  </div>
{% endcall %}
