{% call ui_box(title="Processes", has_padding=False) %}
  <div class="tabbar has-background-transparent" data-enhance>
    <p class="tabbar-label">View type</p>
    {#
    <a href="#tab-process-table" class="tabbar-link">
      <span class="icon">
        <i class="fas fa-table"></i>
      </span>
      Table
    </a>
    #}
    {# <a href="#tab-process-nodes" class="tabbar-link">
      <span class="icon">
        <i class="fas fa-project-diagram"></i>
      </span>
      Nodes
    </a> #}
    <a href="#tab-process-tree" class="tabbar-link is-active">
      <span class="icon">
        <i class="fas fa-sitemap"></i>
      </span>
      Tree
    </a>
  </div>
  {#
    <div id="tab-process-table" hidden>
      <table class="table">
        <thead>
          <tr>
            <th class="is-small">PID</th>
            <th class="is-mini">Duration</th>
            <th>Name/image</th>
            <th class="is-mini">State</th>
          </tr>
        </thead>
        <tbody>
        {% for process in report.processes %}
          <tr>
            <td class="is-monospace has-text-center">
              <span class="has-half-opacity">{{ process.ppid }} &rarr;</span> {{ process.pid }}<br />
              <span class="has-half-opacity">{{ process.parent_procid }} &rarr;</span> {{ process.procid }}
            </td>
            <td class="has-text-center">
              {{ process.start_ts }}<br />
              <span class="has-half-opacity">&darr;</span><br />
              {% if process.end_ts %}
                {{ process.end_ts }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              {{ process.name }}
              <p class="has-half-opacity has-text-small">{{ process.image }}</p>
              <pre class="code no-margin is-content-break"><code>{{ process.commandline }}</code></pre>
            </td>
            <td>{{ process.state }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  #}
  {# <div class="has-padding-x has-text-small" id="tab-process-nodes" hidden><!-- report.task.js:45 --></div> #}
  <div class="has-text-small" id="tab-process-tree"><!-- report.task.js:105 --></div>
{% endcall %}
