{% call ui_box(title="Screenshots", has_padding=False) %}
  <div class="screenshot-viewer" id="screenshot">
    <figure class="screenshot-image"></figure>
    <div class="screenshot-description">
      <p>
        <span class="icon-instruction">
          <i class="fas fa-long-arrow-alt-left"></i>
          <span class="has-half-opacity">Drag slider to view screenshots</span>
          <i class="fas fa-long-arrow-alt-right"></i>
        </span>
      </p>
      <div>
        <input type="range" min="1" max="{{ report.screenshot|length }}" step="1" value="1" />
        <div class="screenshot-details has-margin-top">
          <span>
            <i class="fas fa-images"></i>
            <span data-screenshot-index></span>
          </span>
          <span>
            <i class="fas fa-file-image"></i>
            <span data-screenshot-name></span>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endcall %}
