{% call ui_box(title="Malware Hash Registry (MHR)", has_padding=False) %}
  <table class="table has-sticky-header has-striped-rows">
    <thead>
      <tr>
        <th>Antivirus Detection Rate</th>
        <th>Last Run</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ pre.mhr.antivirus_detection_rate|default('', True) }}</td>
          <td>{{ pre.mhr.last_run_date|formatisodatetime if pre.mhr.last_run_date }}</td>
        </tr>
    </tbody>
  </table>
{% endcall %}