{% call ui_box(title="Summary", has_padding=False) %}
  <div class="tabbar">
    <a role="tab" href="#overview:analysis" class="tabbar-link is-active">Analysis</a>
    <a role="tab" href="#overview:file-analysis" class="tabbar-link">Target</a>
    <a role="tab" href="#overview:submission" class="tabbar-link">Submission</a>
    <a role="tab" href="#overview:settings" class="tabbar-link">Settings</a>
  </div>

  <div role="region" id="overview:analysis">
    <div class="columns has-padding is-divided">
      <div class="column is-auto">
        <div class="ratio-1-1">
          <div class="ratio-content">
            <p class="{{ color_text(analysis.score) }} has-text-huge no-margin"><strong>{{ analysis.score }}</strong><sub class="has-text-light">/10</sub></p>
          </div>
          <div class="ratio-content is-bottom has-text-small has-half-opacity">Analysis score</div>
        </div>
      </div>
      <div class="column">
        <h3 class="no-margin-bottom is-monospace">
          <strong>{{ analysis.id }}</strong>
          <span class="pull-right has-half-opacity">{{ analysis.state|humanstate }}</span>
        </h3>
        {% if analysis.submitted.category != 'url' %}
          <p class="has-line-break has-text-small">
            <span class="icon">
              <i class="far fa-file"></i>
            </span> {{ analysis.target.filename }}
          </p>
          <ul class="list is-horizontal no-margin-bottom has-text-small">
            <li title="Date of creation">
              <span class="icon">
                <i class="far fa-calendar"></i>
              </span> {{ analysis.created_on | formatdatetime }}
            </li>
            <li>
              <span class="icon">
                <i class="fas fa-compact-disc"></i>
              </span> {{ analysis.target.size | filesizeformat }}
            </li>
            <li class="is-monospace">
              <span class="icon">
                <i class="fas fa-terminal"></i>
              </span> {{ analysis.target.media_type }}
            </li>
          </ul>
        {% else %}
          <p class="has-text-wrapped"><span class="icon">
            <i class="fas fa-link"></i>
          </span> {{ analysis.submitted.url }}</p>
          <p class="has-text-small"><span class="icon">
            <i class="far fa-calendar"></i>
          </span> {{ analysis.created_on | formatdatetime }}</p>
        {% endif %}
        {% if analysis.families|length %}
          <div class="tag-list has-margin-top">
            <span class="label">Detected families:</span>
            {% for family in analysis.families %}
              <span class="tag no-margin-top is-red">{{ family }}</span>
            {% endfor %}
          </div>
        {% endif %}
        {% if "submittedfiledownload" | feature_enabled %}
          {# href="{{ url('Analysis/submittedfile', args=[analysis.id]) }}" #}
          <a href="#" class="button is-small has-margin-y" download>Download submitted file</a>
        {% endif %}
      </div>
    </div>
  </div>
  <table role="region" class="table has-striped-rows" id="overview:submission" hidden>
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="no-line-break"><strong>Category</strong></td>
        <td class="has-line-break">{{ analysis.submitted.category }}</td>
      </tr>
      {% if analysis.submitted.category != 'url' %}
        <tr>
          <td class="no-line-break"><strong>File name</strong></td>
          <td class="has-line-break">{{ analysis.submitted.filename }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>Size</strong></td>
          <td class="has-line-break">{{ analysis.submitted.size | filesizeformat }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>Type</strong></td>
          <td class="has-line-break">{{ analysis.submitted.type }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>Media Type</strong></td>
          <td class="has-line-break">{{ analysis.submitted.media_type }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>MD5</strong></td>
          <td class="has-line-break">{{ analysis.submitted.md5 }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>SHA1</strong></td>
          <td class="has-line-break">{{ analysis.submitted.sha1 }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>SHA256</strong></td>
          <td class="has-line-break">{{ analysis.submitted.sha256 }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>SHA512</strong></td>
          <td class="has-line-break">{{ analysis.submitted.sha512 }}</td>
        </tr>
      {% else %}
        <tr>
          <td class="no-line-break"><strong>URL</strong></td>
          <td class="has-line-break">{{ analysis.submitted.url }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  <table role="region" class="table has-striped-rows" id="overview:settings" hidden>
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="no-line-break"><strong>Timeout</strong></td>
        <td class="has-line-break">{{ analysis.settings.timeout }}</td>
      </tr>
      <tr>
        <td class="no-line-break"><strong>Priority</strong></td>
        <td class="has-line-break">{{ analysis.settings.priority }}</td>
      </tr>
      <tr>
        <td class="no-line-break"><strong>Route</strong></td>
        <td class="has-line-break">
          {{ analysis.settings.route.type }}
          {% if  analysis.settings.route.type == 'vpn' %}
            &rarr; <span class="tag">{{ analysis.settings.route.country|capitalize }}</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="no-line-break"><strong>Command</strong></td>
        <td class="has-line-break">{{ analysis.settings.command|join(', ') }}</td>
      </tr>
      <tr>
        <td class="no-line-break"><strong>Original Filename</strong></td>
        <td class="has-line-break">{{ analysis.settings.orig_filename }}</td>
      </tr>
      {% if analysis.category == 'url' %}
        <tr>
          <td class="no-line-break"><strong>Browser</strong></td>
          <td class="has-line-break">{{ analysis.settings.browser }}</td>
        </tr>
      {% endif %}
      <tr>
        <td class="no-line-break"><strong>Platforms</strong></td>
        <td class="has-line-break">
          {# analysis.settings.platforms #}
          {% if analysis.settings.platforms|length %}
            {% for p in analysis.settings.platforms %}
              <div class="tag-list no-margin-y">
                <code class="no-margin-y has-margin-right">{{ p.platform }} {{ p.os_version }}</code>
                {% if p.tags|length > 0 %}
                  &rarr;
                  {% for t in p.tags %}
                    <span class="tag no-margin-y no-margin-bottom">{{ t }}</span>
                  {% endfor %}
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <table role="region" class="table has-striped-rows" id="overview:file-analysis" hidden>
    <thead>
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% if analysis.submitted.category != 'url' %}
        <tr>
          <td class="no-line-break"><strong>File name</strong></td>
          <td class="has-line-break">{{ analysis.target.filename }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>Size</strong></td>
          <td class="has-line-break">{{ analysis.target.size | filesizeformat }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>Type</strong></td>
          <td class="has-line-break">{{ analysis.target.filetype }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>Media Type</strong></td>
          <td class="has-line-break">{{ analysis.target.media_type }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>MD5</strong></td>
          <td class="has-line-break">{{ analysis.target.md5 }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>SHA1</strong></td>
          <td class="has-line-break">{{ analysis.target.sha1 }}</td>
        </tr>
        <tr>
          <td class="no-line-break"><strong>SHA256</strong></td>
          <td class="has-line-break">{{ analysis.target.sha256 }}</td>
        </tr>
      {% else %}
        <tr>
          <td class="no-line-break"><strong>URL</strong></td>
          <td class="has-line-break">{{ analysis.target.url }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endcall %}
