{% extends "base.html.jinja2" %}
{% set active_page = "dashboard" %}
{% set title = "Dashboard" %}

{% block page_script %}
  <script src="{{ static('js/chart.min.js') }}"></script>
  <script src="{{ static('js/statistics.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="container is-fixed">

  </div>
{% endblock %}
