{% extends "base.html.jinja2" %}
{% set active_page = "dashboard" %}
{% set title = "Dashboard" %}

{% block body %}
  <div class="container">
    <h3>Welcome to Cuckoo</h3>
    <p>This is a placeholder dashboard view.</p>
  </div>
{% endblock %}
