# Specify a IP-address for the proxmox server
# This module uses the std-port 8006 and as of now cant be changed.
dsn: "{{ dsn }}"

# The User you want to use for connecting to proxmox
user: "{{ user }}"

# The corresponding password to the user
pw: "{{ pw }}"

# The Interface where the Analysis VMs also are
interface: {{ interface}}

machines:
{% for name, machine in machines.items() %}
  {{ name }}:
    # The name of the Analysis VM specified in Proxmox
    # as for now the proxmox vmid is not supported
    label: {{ machine.label}}
    # The static IP address that has been configured inside of the machine.
    ip: {{ machine.ip }}
    # The operating system platform installed on the machine.
    platform: {{ machine.platform }}
    # A string that specifies the version of the operating system installed.
    # Example: "10" for Windows 10, "7" for Windows 7, "18.04" for Ubuntu 18.04.
    os_version: "{{ machine.os_version }}"
    # The system architecture. Amd64, ARM, etc. This is used to
    # select the correct stager and monitor builds/component for the machine.
    architecture: {{ machine.architecture }}
    # The TCP port of the agent running on the machine.
    agent_port: {{ machine.agent_port }}
    # (Optional) The MAC address of the network interface of the machine that is used to connect to
    # to the resultserver and the internet.
    mac_address: {{ machine.mac_address }}
    # (Optional) a named snapshot that Cuckoo must restore the machine to
    # after each analysis. If this snapshot is not provided, a 'current' snapshot must be set.
    snapshot: {{ machine.snapshot }}
    # (Optional) Specify the name of the network interface that should be used
    # when dumping network traffic from this machine with tcpdump.
    interface: {{ machine.interface }}
    # Machine tags that identify the installed software and other characteristics of the machine.
    # These are used to select the correct machine for a sample that has dependencies. *Notice*: correct tags are
    # crucial in selecting machines that can actually run a submitted sample.
    # Existing automatic tags can be found in the conf/processing/identification.yaml config.
    tags:
    {% for tag in machine.tags %}
    - {{ tag }}
    {% endfor %}
{% endfor %}
