{#
  This file is included in the analysis and task views to display the navigation
  sidebar.
#}
<ul class="list is-index">
  <li>
    <p class="label">Analysis</p>
    <ul>
      <li>
        <a class="{% if report_page == 'sample' %}is-active{% endif %}" href="{{ url('Analysis/index', args=[analysis_id]) }}">Analysis</a>
        {% if pre %}
          <ul>
            {% if pre.static and pre.static.pe %}
              <li>
                <a role="tab" href="#pefiles">PE File</a>
              </li>
            {% endif %}
            {% if pre.virustotal %}
              <li>
                <a role="tab" href="#virus-total">Antivirus</a>
              </li>
            {% endif %}
            {% if pre.irma is defined %}
              {% if pre.irma %}
                <li>
                  <a role="tab" href="#irma">IRMA</a>
                </li>
              {% endif %}
            {% endif %}
            {% if pre.mhr is defined %}
              {% if pre.mhr %}
                <li>
                  <a role="tab" href="#mhr">MHR</a>
                </li>
              {% endif %}
            {% endif %}
            {% if pre.misp %}
              <li>
                <a role="tab" href="#misp">MISP</a>
              </li>
            {% endif %}
            {% if pre.intelmq %}
              <li>
                <a role="tab" href="#intelmq">IntelMQ</a>
              </li>
            {% endif %}
            {% if pre.static and pre.static.office %}
              <li>
                <a role="tab" href="#office">Office</a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </li>
    </ul>
    {% if analysis %}
      <p class="label">Tasks</p>
      <ul>
      {% for t in analysis.tasks %}
        <li>
          <a {% if t.state == 'fatal_error' or t.state == 'reported' %}href="{{ url('Task/index', args=[analysis.id, t.id]) }}"{% endif %} class="{% if task and task.id == t.id %}is-active{% endif %}" data-tooltip="state: {{ t.state|taskstatehuman }}">
            {{ t.platform }} {{ t.os_version }}
            {% if t.state == 'reported' %}
              <span class="tag has-margin-left has-margin-top is-right {{ color_class(t.score) }}" style="pointer-events: none;">
                <strong>{{ t.score }}</strong>
              </span>
            {% elif t.state == 'running' %}
              <span class="tag has-margin-left has-margin-top is-right" style="pointer-events: none;">
                <i class="fas fa-circle-notch fa-spin"></i>
              </span>
            {% elif t.state == 'pending' %}
              <span class="tag has-margin-left has-margin-top is-right" style="pointer-events: none;">
                <i class="far fa-hourglass"></i>
              </span>
            {% elif t.state == 'fatal_error' %}
              <span class="tag has-margin-left has-margin-top is-right" style="pointer-events: none;">
                <i class="fas fa-exclamation has-text-red"></i>
              </span>
            {% endif %}
          </a>
          {% if report and task.id == t.id %}
            <ul>
              {% for component in report_components %}
                {# only display if the report has the corresponding property #}
                {% if report[component] %}
                  <li>
                    <a role="tab" href="#{{component}}{% if component == 'network' %}:host{% endif %}">
                      {% if report_component_labels[loop.index-1] %}
                        {{ report_component_labels[loop.index-1] }}
                      {% else %}
                        <span class="has-text-capitalized">{{ component }}</span>
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </li>
</ul>
