{#
  This file is included in the analysis and task views to display the navigation
  sidebar.
#}
<ul class="list is-index">
  <li>
    <p class="label">Analysis</p>
    <ul>
      <li><a class="{% if report_page == 'sample' %}is-active{% endif %}" href="{{ url('Analysis/index', args=[analysis_id]) }}">Overview</a></li>
      <li><a class="{% if report_page == 'static' %}is-active{% endif %}" href="{{ url('Analysis/static', args=[analysis_id]) }}">Static analysis</a></li>
    </ul>
    {% if analysis %}
      <p class="label">Tasks</p>
      <ul>
      {% for t in analysis.tasks %}
        <li>
          <a {% if t.state == 'fatal_error' or t.state == 'reported' %}href="{{ url('Task/index', args=[analysis.id, t.id]) }}"{% endif %} class="{% if t.state != 'reported' and t.state != 'fatal_error' %}has-half-opacity{% endif %} {% if task and task.id == t.id %}is-active{% endif %}">
            {{ t.platform }} {{ t.os_version }}
            {% if t.state == 'reported' %}
              <span class="tag has-margin-left is-right {{ color_class(t.score) }}">
                <strong>{{ t.score }}</strong>
              </span>
            {% elif t.state == 'pending' %}
              <span class="tag has-margin-left is-right">
                <i class="far fa-hourglass"></i>
              </span>
            {% elif t.state == 'fatal_error' %}
              <span class="tag has-margin-left is-right">
                <i class="fas fa-exclamation has-text-red"></i>
              </span>
            {% endif %}
          </a>
          {% if report and task.id == t.id %}
            <ul class="has-text-small">
              {% for component in report_components %}
                {# only display if the report has the corresponding property #}
                {% if report[component] %}
                  <li>
                    <a href="#tab-{{component}}" data-tabbar="#taskReport">
                      {% if report_component_labels[loop.index-1] %}
                        {{ report_component_labels[loop.index-1] }}
                      {% else %}
                        <span class="has-text-capitalized">{{ component }}</span>
                      {% endif %}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </li>
</ul>
