<footer class="footer">
  <div class="footer-start columns is-center is-vcenter">
    <div class="logo has-text-center">
      <img src="/static/images/cuckoo-embossed.svg" alt="Cuckoo Sandbox" width="200" />
    </div>
  </div>
  <div class="footer-end">
    <p><strong>&copy; 2014-2020</strong></p>
    <ul class="list is-horizontal">
      <li>
        <a class="is-link has-no-underline" href="/">
          <span class="icon">
            <i class="fas fa-book"></i>
          </span>
          Documentation
        </a>
      </li>
      <li>
        <a class="is-link has-no-underline" href="https://www.cuckoosandbox.org/">
          <span class="icon">
            <i class="fas fa-globe"></i>
          </span>
          cuckoosandbox.org
        </a>
      </li>
      <li>
        <a class="is-link has-no-underline" href="https://www.github.com/cuckoosandbox/cuckoo">
          <span class="icon">
            <i class="fab fa-github-alt"></i>
          </span>
          cuckoosandbox/cuckoo
        </a>
      </li>
    </ul>
    <a class="is-link has-no-underline" href="#">Back to top</a>
  </div>
</footer>
