<footer class="footer">
  <div class="footer-start columns is-center is-vcenter">
    <!-- <div class="logo has-text-center">
      <span class="logo-placeholder is-embossed is-big"></span>
    </div> -->
  </div>
  <div class="footer-end">
    <p><strong>&copy; 2021</strong></p>
    <ul class="list is-horizontal">
      <li>
        <a class="is-link has-no-underline" href="/">
          <span class="icon">
            <i class="fas fa-book"></i>
          </span>
          Documentation
        </a>
      </li>
    </ul>
    <a class="is-link has-no-underline" href="#">Back to top</a>
  </div>
</footer>
