{% set topleft_nav = [
  ('/', 'dashboard', 'Dashboard'),
  ('/submit', 'submit', 'Submit'),
  ('/reports', 'reports', 'Reports'),
  ('/search', 'search', 'Search')
] -%}
{% set active_page = active_page|default('dashboard') -%}

<nav class="navbar">
  <div class="navbar-logo">
    <a class="navbar-link" href="/">
      <img src="/static/images/cuckoo-light.svg" alt="Cuckoo Sandbox" />
    </a>
    <a class="navbar-toggle" title="Expand menu">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="navbar-start">
    {% for href, id, caption in topleft_nav %}
      <a href="{{ href|e }}" class="navbar-link {% if id == active_page %}is-active{% endif %}">{{ caption|e }}</a>
    {% endfor %}
  </div>
  {# <div class="navbar-end">
    <a class="navbar-link {% if page == 'settings' %}is-active{% endif %}" href="/settings">Settings</a>
    <a class="navbar-link {% if page == 'overview' %}is-active{% endif %}" href="/overview">UI Overview</a>
  </div> #}
</nav>
