{% set topleft_nav = [
  ('Analyses/index', 'analyses', 'Analyses'),
  ('Dashboard', 'dashboard', 'Statistics'),
  ('Compare/index', 'compare', 'Compare'),
  ('Submit/index', 'submit', 'Submit')
] -%}
{% set active_page = active_page|default('dashboard') -%}

<nav class="navbar">
  <div class="navbar-logo">
    <a class="navbar-link" href="/analyses">
      <img src="/static/images/logo.png" alt="Cuckoo3" />
    </a>
    <a class="navbar-toggle" title="Expand menu">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="navbar-start">
    {% for href, id, caption in topleft_nav %}
      <a href="{{ url(href) }}" class="navbar-link {% if id == active_page %}is-active{% endif %}">{{ caption|e }}</a>
    {% endfor %}
  </div>
  <div class="navbar-end">
    <div class="navbar-loader" id="loader" hidden>
      <i class="fas fa-circle-notch fa-spin"></i>
    </div>
    {% if "search" | feature_enabled %}
      <a class="navbar-link {% if page == 'search' %}is-active{% endif %}" href="{{ url('Search/index') }}">Search</a>
    {% endif %}
  </div>
</nav>
