<ul class="list is-index">
  <li>
    <p class="label">Analysis</p>
    <ul>
      <li><a class="{% if report_page == 'sample' %}is-active{% endif %}" href="{{ url('Analysis/index', args=[analysis_id]) }}">Sample</a></li>
      <li><a class="{% if report_page == 'static' %}is-active{% endif %}" href="{{ url('Analysis/static', args=[analysis_id]) }}">Static analysis</a></li>
    </ul>
    {% if analysis %}
      <p class="label">Tasks</p>
      <ul>
      {% for t in analysis.tasks %}
        <li>
          <a href="{{ url('Task/index', args=[analysis.id, t.id]) }}" class="{% if task and task.id == t.id %}is-active{% endif %}">
            {{ t.platform }} {{ t.os_version }}
            <span class="tag has-margin-left is-right {{ color_class(t.score) }}">{{ t.score }}</span>
          </a>
          {% if report %}
            <ul class="has-text-small">
              {% if report.misp %}
                <li>
                  <a href="#tab-misp" data-tabbar="#taskReport">MISP</a>
                </li>
              {% endif %}
              {% if report.cfgextr %}
                <li>
                  <a href="#tab-cfgextr" data-tabbar="#taskReport">Configuration Extraction</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  </li>
</ul>
