{% if analysis %}
  <nav class="has-margin-bottom">
    <div class="tabbar is-rounded">
      <p class="tabbar-label no-margin-left">Tasks</p>
      {% for t in analysis.tasks %}
        <a href="{{ url('Task/index', args=[analysis.id, t.id]) }}" class="tabbar-link {% if task and task.id == t.id %}is-active{% endif %}">
          <span class="has-margin-left">{{ t.platform }} {{ t.os_version }}</span>
          <span class="tag is-rounded has-text-weight-semibold has-margin-x {{ color_class(t.score) }}">{{ t.score }}</span>
        </a>
      {% endfor %}
    </div>
  </nav>
{% endif %}
