{% if analysis %}
  <nav class="has-margin-bottom">
    <div class="tabbar is-rounded">
      <p class="tabbar-label no-margin-left">Tasks</p>
      {% for task in analysis.tasks %}
        <a href="{{ url('Task/index', args=[analysis.id, task.id]) }}" class="tabbar-link">
          <span class="has-margin-left">{{ task.platform }} {{ task.os_version }}</span>
          <span class="tag is-rounded has-text-weight-semibold has-margin-x {{ color_class(task.score) }}">{{ task.score }}</span>
        </a>
      {% endfor %}
    </div>
  </nav>
{% endif %}
