# A dictionary list of remote Cuckoo instances that are running in node mode.
# This is used in a distributed Cuckoo setup.
remote_nodes:
{% for name, node in remote_nodes.items() %}
  {{ name }}:
    # The remote node API url. This is not the Cuckoo API.
    api_url: {{ node.api_url}}
    # Remote node API key.
    api_key: {{ node.api_key }}
{% endfor %}

# The settings used if the Cuckoo install is started as a Cuckoo node.
node_settings:
  # The node API key. This must be configured in the main Cuckoo's
  # remote_nodes configuration section.
  api_key: {{ node_settings.api_key }}
