# This configuration file contains settings for reporting components

# Cuckoo search uses Elasticsearch. Enable/disable the indexing of analyses, task, and event information.
# Search can only be used if this has been enabled.
elasticsearch:
  enabled: {{ elasticsearch.enabled }}

  indices:
    # The names to use when creating indices. Each name must be unique.
    names:
      analyses: {{ elasticsearch.indices.names.analyses }}
      tasks: {{ elasticsearch.indices.names.tasks }}
      events: {{ elasticsearch.indices.names.events }}

  # The timeout before a connection error occurs during the indexing of a document.
  # The Elasticsearch default is 10 seconds. A higher timeout is required when indexing large documents.
  timeout: {{ elasticsearch.timeout }}
  # The max result window that will be used in searches. The Elasticsearch default is 10000. This
  # window has impact in how far back you can search with queries that match a large amount of documents.
  max_result_window: {{ elasticsearch.max_result_window }}
  # The Elasticsearch hosts. Should be one ore more host:port combinations.
  hosts:
  {% for host in elasticsearch.hosts %}
    - {{ host }}
  {% endfor %}
