{% extends "base.html.jinja2" %}
{% set active_page = "analyses" %}
{% set title = "Task" %}

{#
  report components are displayed in the tabbar on the left-hand side of the view.
  use the report_components list to define all includable components. The components
  are loaded as individual templates for brevity (in task/components). these files
  should have the same names as defined per-component and will be wrapped in an
  individual tab page, eg:

  {% set report_components = ['component-a','component-b']; %}
  {% set report_component_labels = ['A','B']; }

  should have corresponding files like:

  task/components/component-a.html.jinja2
  task/components/component-b.html/jinja2

  The components are referenced in the UI by their labels (if defined):

  <a class="tabbar-link" href="#tab-component-a">A</a>
  <a class="tabbar-link" href="#tab-component-b">B</a>

#}
{% set report_components = ['network','misp','cfgextr','intelmq','suricata'] %}
{% set report_component_labels = ['Network','MISP', 'Configuration Extraction', 'IntelMQ','Suricata'] %}

{% from 'macros.html.jinja2' import render_dict, ui_box, ui_signatures, ui_strings, error_box, render_table, color_class, color_text, trim_string %}

{% block page_script %}
  <script>
    (function() {
      // when available, store the PUT url in this application scope for access
      // in the settings js file.
      window.Application = Object.assign(window.Application || {}, {
        duration: {{ analysis.settings.timeout }} * 1000,
        processes: {{ report.processes.process_list|tojson }},
        screenshot: {{ report.screenshot|tojson }},
        screenshotURL: img => '/api/analyses/{{ analysis.id }}/task/{{ report.task_id }}/screenshot/' + img
      });
    }());
  </script>
  <script src="{{ static('js/analysis.js') }}"></script>
{% endblock %}

{% block body %}

  <div class="container is-portal-view">

    <div class="columns is-divided is-vtop">
      <aside class="column is-auto has-padding is-sticky">
        {% include "partial/analysis-index.html.jinja2" %}
      </aside>
      <section class="column has-padding" style="min-width: 0; max-width: 100%;">

        <h2>Task report</h2>
        <p>Results of individual task ran during analysis.</p>

          <div role="tablist" class="tabbar has-background-transparent">
            <a role="tab" href="#report" class="tabbar-link is-active"><strong>Task</strong></a>
            <a role="tab" href="#machine" class="tabbar-link">Machine</a>
          </div>

          {% if debug_template_data %}
            {% call ui_box(title="Template data", has_padding=False, collapsed=True) %}
              <h3 class="has-margin-x">Report:</h3>
              {{ render_dict(report) }}
              <h3 class="has-margin-x">Analysis:</h3>
              {{ render_dict(analysis) }}
              <h3 class="has-margin-x">Task:</h3>
              {{ render_dict(task) }}
            {% endcall %}
          {% endif %}

          <div role="region" id="report">
            {% if task.errors.errors|length > 0 %}
              {% call error_box(task.errors.errors) %}
                <p class="has-padding no-margin-bottom">Errors occured during this analysis.</p>
              {% endcall %}
            {% endif %}
            {# Report.task #}
            {% include "task/components/task.html.jinja2" %}
            {# Report.signatures #}
            {% include "task/components/signatures.html.jinja2" %}
            {# Report.processes #}
            {% include "task/components/processes.html.jinja2" %}
            {# Report.screenshot #}
            {% include "task/components/screenshot.html.jinja2" %}
          </div>

          {# Report.machine #}
          <div role="region" id="machine" hidden>
            {% include "task/components/machine.html.jinja2" %}
          </div>

          {% for component in report_components %}
            {% if report[component] %}
              <div role="region" id="{{ component }}" hidden>
                {% include "task/components/"+component+".html.jinja2" %}
              </div>
            {% endif %}
          {% endfor %}

      </section>
    </div>

  </div>

{% endblock %}
