{% extends "base.html.jinja2" %}
{% set active_page = "analyses" %}
{% set title = "Task" %}

{# these set the sidebar items to display #}
{% set report_sidebar_components = ['misp','cfgextr','intelmq'] %}
{% set report_sidebar_component_labels = [False, 'Configuration Extraction', 'IntelMQ'] %}

{% from 'macros.html.jinja2' import render_dict, ui_box, ui_signatures, error_box, render_table, color_class, color_text %}

{% block page_script %}
  <script>
    (function() {
      // when available, store the PUT url in this application scope for access
      // in the settings js file.
      window.Application = Object.assign(window.Application || {}, {
        duration: {{ analysis.settings.timeout }} * 1000,
        processes: {{ report.processes|tojson }}
      });
    }());
  </script>
  <script src="{{ static('js/report.task.js') }}"></script>
{% endblock %}

{% block body %}

  <div class="container is-fixed">

    <div class="columns is-divided is-vtop">
      <aside class="column is-auto has-padding is-sticky">
        {% include "analysis/partial/sidebar.html.jinja2" %}
      </aside>
      <section class="column has-padding">

        <h2>Task report</h2>
        <p>Results of individual task ran during analysis.</p>

          <div class="tabbar has-background-transparent" data-enhance id="taskReport">
            <a href="#tab-report" class="tabbar-link"><strong>Task</strong></a>
            <a href="#tab-machine" class="tabbar-link">Machine</a>
          </div>

          <div id="tab-report" hidden>

            {% call ui_box(title="Data", has_padding=False, collapsed=True) %}
              Report:
              {{ render_dict(report) }}
              Analysis:
              {{ render_dict(analysis) }}
              Task:
              {{ render_dict(task) }}
            {% endcall %}

            {% if task.errors.errors|length > 0 %}
              {% call error_box(task.errors.errors) %}
                <p class="has-padding no-margin-bottom">Errors occured during this analysis.</p>
              {% endcall %}
            {% endif %}

            {% call ui_box(title="Task") %}
              <div class="columns has-padding is-divided">
                <div class="column is-auto">
                  <div class="ratio-1-1">
                    <div class="ratio-content">
                      <p class="{{ color_text(report.score) }} has-text-huge no-margin"><strong>{{ report.score }}</strong><sub class="has-text-light">/10</sub></p>
                    </div>
                    <div class="ratio-content is-bottom has-text-small has-half-opacity">Task score</div>
                  </div>
                </div>
                <div class="column">
                  <h3 class="no-margin-bottom is-monospace">
                    <strong>{{ report.task_id }}</strong>
                    <span class="pull-right has-half-opacity">{{ task.state|taskstatehuman }}</span>
                  </h3>
                  <p class="has-line-break has-text-small">
                    <span class="icon">
                      <i class="far fa-file"></i>
                    </span> {{ analysis.target.filename }}
                  </p>
                  <ul class="list is-horizontal no-margin-bottom has-text-small">
                    <li title="Date of creation">
                      <span class="icon">
                        <i class="far fa-calendar"></i>
                      </span> {{ analysis.created_on | formatdatetime }}
                    </li>
                    <li>
                      <span class="icon">
                        <i class="fas fa-compact-disc"></i>
                      </span> {{ analysis.target.size | filesizeformat }}
                    </li>
                    <li class="is-monospace">
                      <span class="icon">
                        <i class="fas fa-terminal"></i>
                      </span> {{ analysis.target.media_type }}
                    </li>
                  </ul>
                  {% if report.families|length %}
                    <div class="tag-list has-margin-top">
                      <span class="label">Detected families:</span>
                      {% for family in report.families %}
                        <span class="tag no-margin-top is-red">{{ family }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endcall %}

            {# Report.signatures #}
            {% call ui_box(title="Signatures", has_padding=False) %}
              {{ ui_signatures(report.signatures) }}
            {% endcall %}

            {# Report.processes #}
            {% call ui_box(title="Processes", has_padding=False) %}
              <div class="tabbar has-background-transparent" data-enhance>
                <p class="tabbar-label">View type</p>
                {#
                <a href="#tab-process-table" class="tabbar-link">
                  <span class="icon">
                    <i class="fas fa-table"></i>
                  </span>
                  Table
                </a>
                #}
                {# <a href="#tab-process-nodes" class="tabbar-link">
                  <span class="icon">
                    <i class="fas fa-project-diagram"></i>
                  </span>
                  Nodes
                </a> #}
                <a href="#tab-process-tree" class="tabbar-link is-active">
                  <span class="icon">
                    <i class="fas fa-sitemap"></i>
                  </span>
                  Tree
                </a>
              </div>
              {#
                <div id="tab-process-table" hidden>
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="is-small">PID</th>
                        <th class="is-mini">Duration</th>
                        <th>Name/image</th>
                        <th class="is-mini">State</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for process in report.processes %}
                      <tr>
                        <td class="is-monospace has-text-center">
                          <span class="has-half-opacity">{{ process.ppid }} &rarr;</span> {{ process.pid }}<br />
                          <span class="has-half-opacity">{{ process.parent_procid }} &rarr;</span> {{ process.procid }}
                        </td>
                        <td class="has-text-center">
                          {{ process.start_ts }}<br />
                          <span class="has-half-opacity">&darr;</span><br />
                          {% if process.end_ts %}
                            {{ process.end_ts }}
                          {% else %}
                            -
                          {% endif %}
                        </td>
                        <td>
                          {{ process.name }}
                          <p class="has-half-opacity has-text-small">{{ process.image }}</p>
                          <pre class="code no-margin is-content-break"><code>{{ process.commandline }}</code></pre>
                        </td>
                        <td>{{ process.state }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              #}
              {# <div class="has-padding-x has-text-small" id="tab-process-nodes" hidden><!-- report.task.js:45 --></div> #}
              <div class="has-text-small" id="tab-process-tree"><!-- report.task.js:105 --></div>
            {% endcall %}

          </div>

          {# Report.machine #}
          <div id="tab-machine" hidden>
            {% call ui_box(title="Machine information", has_padding=False) %}
              {# {{ render_dict(machine) }} #}
              <table class="table">
                <body>
                  <tr>
                    <td class="has-text-right"><strong>Name</strong></td>
                    <td>{{ machine.name }}</td>
                  </tr>
                  <tr>
                    <td class="has-text-right"><strong>Label</strong></td>
                    <td>{{ machine.label }}</td>
                  </tr>
                  <tr>
                    <td class="has-text-right"><strong>IP</strong></td>
                    <td class="is-monospace">{{ machine.ip }}</td>
                  </tr>
                  <tr>
                    <td class="has-text-right"><strong>Platform</strong></td>
                    <td>{{ machine.platform }}</td>
                  </tr>
                  <tr>
                    <td class="has-text-right"><strong></strong></td>
                    <td>{{ machine.os_version }}</td>
                  </tr>
                  <tr>
                    <td class="has-text-right"><strong>Machinery name</strong></td>
                    <td>{{ machine.machinery_name }}</td>
                  </tr>
                  <tr>
                    <td class="has-text-right"><strong>Tags</strong></td>
                    <td>
                      <div class="tag-list">
                        {% for tag in machine.tags %}
                          <span class="tag">{{ tag }}</span>
                        {% endfor %}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            {% endcall %}
          </div>

          {# Report.misp #}
          {% if report.misp %}
            <div id="tab-misp" hidden>
              {% call ui_box(title="MISP", has_padding=False, collapsed=False) %}
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>IOC</th>
                      <th>Description</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for m in report.misp %}
                      <tr>
                        <td><a class="is-link" href="{{ m.url }}" target="_blank" title="Open in MISP">{{ m.id }}</a></td>
                        <td class="is-monospace has-auto-width">{{ m.ioc }}</td>
                        <td>{{ m.description }}</td>
                        <td class="is-datetime">{{ m.datetime|formatisodatetime }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endcall %}
            </div>
          {% endif %}

          {# Report.cfgextr #}
          {% if report.cfgextr %}
            <div id="tab-cfgextr" hidden>
              {% call ui_box(title="Configuration Extraction", has_padding=False) %}
                {# display family atop the other properties, the family property gets skipped in the loop #}
                {% for item in report.cfgextr %}
                  <div class="box has-background-red no-radius has-text-center no-margin-top">
                    <h3 class="has-text-black has-text-uppercased has-text-weight-900">Detected Family</h3>
                    <h1 class="has-text-white has-text-huge">{{ item.family }}</h1>
                  </div>
                  {% for key in item.keys() %}
                      {% if key == 'keys' %}
                        <h3 class="has-padding-x has-half-opacity">Keys</h3>
                        {% for k in item[key] %}
                          <div class="box has-background-light">
                            <h4 class="no-margin has-text-weight-normal">
                              <span class="icon">
                                <i class="fas fa-key"></i>
                              </span>
                              {{ k.keytype }}
                            </h4>
                            <pre class="code-block has-padding"><code>{{ k.value }}</code></pre>
                          </div>
                        {% endfor %}
                      {% elif key == 'c2s' %}
                        <h3 class="has-padding-x has-half-opacity">c2s</h3>
                        {{ render_table(data=item[key], cols=["address"], labels=["Address"], has_sticky_header=True) }}
                      {% elif key == 'family' %}

                      {% elif item[key] is string %}
                        <h3 class="has-padding-x has-half-opacity">{{ key }}</h3>
                        <p class="has-padding">{{ item[key] }}</p>
                      {% elif item[key] is iterable %}
                        <h3 class="has-padding-x has-half-opacity">{{ key }}</h3>
                        <table class="table has-border no-border-x has-sticky-header">
                          <thead>
                          {% if item[key][0] is not string %}
                            <tr>
                              {% for v in item[key][0] %}
                                <th>{{ v }}</th>
                              {% endfor %}
                            </tr>
                          {% endif %}
                          </thead>
                          <tbody>
                          {% for v in item[key] %}
                            <tr>
                              {% if v is string %}
                                <td>{{ v }}</td>
                              {% elif v is iterable %}
                                {% for k in v %}
                                  <td>{{ v[k] }}</td>
                                {% endfor %}
                              {% endif %}
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endcall %}
            </div>
          {% endif %}

          {# Report.intelmq #}
          {% if report.intelmq %}
            <div id="tab-intelmq">
              {% call ui_box(title="IntelMQ", has_padding=False, collapsible=False) %}
                {% for result in report.intelmq %}
                  <div class="box has-background-light">
                    <table class="table has-border">
                      <tr>
                        <td class="has-text-right has-text-bold is-medium">Feed provider</td>
                        <td class="has-text-wrapped is-monospace">{{ result.feed_provider }}</td>
                      </tr>
                      <tr>
                        <td class="has-text-right has-text-bold is-medium">Feed name</td>
                        <td class="has-text-wrapped is-monospace">{{ result.feed_name }}</td>
                      </tr>
                      <tr>
                        <td class="has-text-right has-text-bold is-medium">Type</td>
                        <td class="has-text-wrapped is-monospace">{{ result.classification_type }}</td>
                      </tr>
                      <tr>
                        <td class="has-text-right has-text-bold is-medium">IOC</td>
                        <td class="has-text-wrapped is-monospace">{{ result.ioc }}</td>
                      </tr>
                      <tr>
                        <td class="has-text-right has-text-bold is-medium">Taxonomy</td>
                        <td class="has-text-wrapped is-monospace">{{ result.classification_taxonomy }}</td>
                      </tr>
                      <tr>
                        <td class="has-text-right has-text-bold is-medium">Time source</td>
                        <td class="has-text-wrapped is-monospace">{{ result.time_source }}</td>
                      </tr>
                      <tr>
                        <td class="has-text-right has-text-bold is-medium">Time source</td>
                        <td class="has-text-wrapped is-monospace">{{ result.time_observation }}</td>
                      </tr>
                    </table>
                  </div>
                {% endfor %}
              {% endcall %}
            </div>
          {% endif %}
      </section>
    </div>

  </div>

{% endblock %}
