{% extends "base.html.jinja2" %}
{% set active_page = "search" %}
{% set title = "Search" %}

{% block page_script %}
  <script type="text/javascript" src="{{ static('js/search.js') }}"></script>
{% endblock %}

{% block body %}
  <section class="section has-background-white">
    <div class="container">
      <h1>Search</h1>
      <form class="form" method="POST" id="search-form">
        <div class="field columns is-divided is-vcenter is-gapless">
          <div class="column is-auto">
            <label class="label" for="search">Search query</label>
          </div>
          <div class="column has-padding-x">
            <div class="control">
              <input class="input" id="search" name="query" placeholder="Example: event.file.file_created:somefile" />
            </div>
          </div>
          <div class="column is-auto">
            <input type="submit" class="button is-blue" value="Search" />
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="section no-padding-y">
    <table class="table has-sticky-header has-sticky-footer has-striped-rows" id="results">
      <thead>
        <tr>
          <th>Analysis id</th>
          <th>Task id</th>
          <th>Field</th>
          <th>Matches</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <div class="columns is-between is-vcenter">
              <div class="column">
                <ul class="list is-horizontal no-margin-y">
                  <li class="has-popover">
                    Show <a class="is-link has-margin-x" href="#" data-popover="#select-limit">
                      <span id="selected-limit"></span> <i class="fas fa-caret-down"></i>
                    </a> rows per page
                    <div class="popover is-top no-line-break" id="select-limit">
                      <label class="label">Rows per page:</label>
                      <div class="control is-select">
                        <select class="input">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="10">10</option>
                          <option value="20" selected>20</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li>Page <span id="current-page"></span></li>
                  <li><span id="possible-pages"></span> pages</li>
                </ul>
              </div>
              <div class="column">
                <div class="buttons-conjoined has-margin-x is-disabled" id="pagination">
                  <a class="button is-white" data-skip href="-10">
                    <i class="fas has-half-opacity fa-chevron-left"></i> 10
                  </a>
                  <a class="button is-white" data-skip href="-5">
                    <i class="fas has-half-opacity fa-chevron-left"></i> 5
                  </a>
                  <a class="button is-white" data-skip href="-1">
                    <i class="fas has-half-opacity fa-chevron-left"></i> 1
                  </a>

                  <a class="button is-blue current-page">&nbsp;</a>

                  <a class="button is-white" data-skip href="1">
                    <i class="fas has-half-opacity fa-chevron-right"></i> 1
                  </a>
                  <a class="button is-white" data-skip href="5">
                    <i class="fas has-half-opacity fa-chevron-right"></i> 5
                  </a>
                  <a class="button is-white" data-skip href="10">
                    <i class="fas has-half-opacity fa-chevron-right"></i> 10
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </section>
{% endblock %}
