{# Set this to true to display inline template data output (debugging) #}
{% set debug_template_data = True %}

<!doctype html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex,nofollow" />
    <meta name="charset" content="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ static('/css/fontawesome.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('/css/ui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('/css/theme.css') }}" />
    {% block page_styles %}{% endblock %}
    <title>Cuckoo Sandbox{% if title %} - {{ title }}{% endif %}</title>
  </head>
  <body>
    <div class="view">
      {% include "partial/navbar.html.jinja2" %}
      <main>{% block body %}{% endblock %}</main>
      <div class="footer-push"></div>
    </div>
    {% include "partial/footer.html.jinja2" %}
    <script>window.csrf_token = "{{ csrf_token }}";</script>
    <script type="text/javascript" src="{{ static('js/hashrouter.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/ui.js') }}"></script>
    {% block page_script %}{% endblock %}
  </body>
</html>
