<p class="has-half-opacity">List of DNS queries and responses.</p>
<details class="details has-no-hover" open>
  <summary>
    <h3>DNS Query</h3>
  </summary>
  {% for query in report.network.dns.query %}
    <div class="box {% if loop.first %}is-grouped{% endif %} {% if loop.last %}has-shadow{% endif %} has-border">
      <div class="columns is-gapless is-vcenter has-text-small">
        <div class="column has-margin-right">
          <strong>From:</strong> <span class="is-monospace">{{ query.srcip }}:{{ query.srcport }}</span>
        </div>
        <div class="column">
          <strong>To:</strong> <span class="is-monospace">{{ query.dstip }}:{{ query.dstport }}</span>
        </div>
      </div>
      <div class="has-margin-top has-text-small">
        <p class="no-margin-top has-half-opacity"><strong>Type/name</strong></p>
        <p class="no-margin is-monospace"><span class="tag">{{ query.type }}</span> {{ query.name }}</span>
      </div>
    </div>
  {% endfor %}
</details>
<details class="details has-no-hover" open>
  <summary>
    <h3>DNS Response</h3>
  </summary>
  {% for response in report.network.dns.response %}
    <div class="box {% if loop.first %}is-grouped{% endif %} {% if loop.last %}has-shadow{% endif %} has-border">
      <div class="columns is-gapless is-vcenter has-text-small">
        <div class="column has-margin-right">
          <strong>From:</strong> <span class="is-monospace">{{ response.srcip }}:{{ response.srcport }}</span>
        </div>
        <div class="column">
          <strong>To:</strong> <span class="is-monospace">{{ response.dstip }}:{{ response.dstport }}</span>
        </div>
      </div>
      <div class="has-margin-top has-text-small">
        <p class="no-margin-top has-half-opacity"><strong>Type/name</strong></p>
        <p class="no-margin is-monospace"><span class="tag">{{ response.type }}</span> {{ response.data }}</span>
      </div>
    </div>
  {% endfor %}
</details>
