<p class="has-half-opacity">List of TCP connections.</p>
{% for tcp in report.network.tcp %}
  <div class="box {% if loop.first %}is-grouped{% endif %} {% if loop.last %}has-shadow{% endif %} has-border">
    <div class="columns is-vcenter has-text-small">
      <div class="column has-margin-right">
        <p><strong>From:</strong> <span class="is-monospace">{{ tcp.srcip }}:{{ tcp.srcport }}</span></p>
        <strong class="has-half-opacity">Transmitted </strong> <span class="tag">{{ tcp.tx_size }} bytes</span>
      </div>
      <div class="column">
        <p><strong>To:</strong> <span class="is-monospace">{{ tcp.dstip }}:{{ tcp.dstport }}</span></p>
        <strong class="has-half-opacity">Received </strong> <span class="tag">{{ tcp.rx_size }} bytes</span>
      </div>
    </div>
  </div>
{% endfor %}
