<p class="has-half-opacity">List of UDP communications.</p>
{% for udp in report.network.udp %}
  <div class="box {% if loop.first %}is-grouped{% endif %} {% if loop.last %}has-shadow{% endif %} has-border">
    <div class="columns is-gapless is-vcenter has-text-small">
      <div class="column has-margin-right">
        <strong>From:</strong> <span class="is-monospace">{{ udp.srcip }}:{{ udp.srcport }}</span>
      </div>
      <div class="column">
        <strong>To:</strong> <span class="is-monospace">{{ udp.dstip }}:{{ udp.dstport }}</span>
      </div>
    </div>
    <div class="has-margin-top has-text-small">
      <p class="no-margin"><strong class="has-half-opacity">Size</strong> <span class="tag">{{ udp.size }} bytes</span></p>
    </div>
  </div>
{% endfor %}
