{% extends "base.html.jinja2" %}
{% set active_page = "analyses" %}
{% set title = "Analyses" %}

{% from 'macros.html.jinja2' import color_class %}

{% block page_script %}
<script type="text/javascript">
  (function() {

    window.props =  {
      desc: "{{ desc }}",
      limit: {{ limit }},
      offset: {{ offset }}
    }

    function URLQuery(props={}) {
      const properties = { ...window.props, ...props };
      return '?'+Object.keys(properties).map(key => key + '=' + properties[key]).join('&');
    }

    document.addEventListener('DOMContentLoaded', () => {

      const selectLimit = document.querySelector('.popover#select-limit select');
      const selectedLimit = document.querySelector('#selected-limit');

      selectLimit.addEventListener('change', ev => {
        const value = selectLimit.value;
        window.location = window.location.origin + window.location.pathname + URLQuery({ limit: selectLimit.value });
      });

    });

  }());
</script>
{% endblock %}

{# Ideally, this page should feature a full-page table with a sticky header. #}
{% block body %}
  <section class="section no-padding-y">
    <table class="table has-sticky-header has-sticky-footer">
      <thead class="is-dark">
        <tr>
          <th class="has-sort {% if desc == "True" %}is-desc{% else %}is-asc{% endif %}">
            <a href="?desc={% if desc == "True" %}False{% else %}True{% endif %}&limit={{limit}}&offset={{offset}}">Created on</a>
          </th>
          <th>Analysis ID</th>
          <th>Target</th>
          <th>Media type</th>
          <th>State</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
      {% for analysis in analyses %}
        {# Create link based on state (go to manual settings or report) #}
        {% if analysis.state == 'waiting_manual' %}
          {% set href = url('Submit/settings', args=[analysis.id])  %}
        {% elif analysis.state == 'tasks_pending' or analysis.state == 'fatal_error' or analysis.state == 'finished' %}
          {% set href = url('Analysis/index', args=[analysis.id])  %}
        {% else %}
          {% set href = False %}
        {% endif %}
        <tr {% if not href %}class="has-half-opacity"{% endif %}>
          <td class="is-nowrap"><a {% if href %}href="{{ href }}"{% endif %}>{{ analysis.created_on | formatdatetime }}</a></td>
          <td class="is-nowrap is-monospace"><a href="{{ href }}">{{ analysis.id }}</a></td>
          <td>{{ analysis.target.target }}</td>
          <td>{{ analysis.target.media_type }}</td>
          <td><a {% if href %}href="{{ href }}"{% endif %}>{{ analysis.state|humanstate }}</a></td>
          <td>
            {% if analysis.score > 0 %}
              <span class="tag {{ color_class(analysis.score) }}">{{ analysis.score }}</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <div class="columns is-between is-vcenter">
              <div class="column">
                <ul class="list is-horizontal no-margin-y">
                  <li class="has-popover">
                    Show <a class="is-link has-margin-x" href="#" data-popover="#select-limit"><span id="selectedLimit">{{ limit }}</span> <i class="fas fa-caret-down"></i></a> rows per page
                    <div class="popover is-top" id="select-limit">
                      <label class="label">Rows per page:</label>
                      <div class="control is-select">
                        <select class="input">
                          <option value="10" {% if limit == 10 %}selected{% endif %}>10</option>
                          <option value="20" {% if limit == 20 %}selected{% endif %}>20</option>
                          <option value="50" {% if limit == 50 %}selected{% endif %}>50</option>
                          <option value="100" {% if limit == 100 %}selected{% endif %}>100</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li>Page {{ (offset / limit)|int }}</li>
                </ul>
              </div>
              <div class="column">
                <div class="buttons-conjoined has-margin-x">
                  <a title="Go back {{ limit * 10 }} pages" href="?desc={{desc}}&offset={{ offset - (limit * 10) }}&limit={{limit}}" class="button is-white {% if (offset - (limit * 10)) < 0 %}is-disabled{% endif %}">
                    <i class="fas has-half-opacity fa-chevron-left"></i> 10
                  </a>
                  <a title="Go back {{ limit * 5 }} pages" href="?desc={{desc}}&offset={{ offset - (limit * 5) }}&limit={{limit}}" class="button is-white {% if (offset - (limit * 5)) < 0 %}is-disabled{% endif %}">
                    <i class="fas has-half-opacity fa-chevron-left"></i> 5
                  </a>
                  <a title="Go back {{ limit }} pages" href="?desc={{desc}}&offset={{ offset - limit }}&limit={{limit}}" class="button is-white {% if offset <= 0 %}is-disabled{% endif %}">
                    <i class="fas has-half-opacity fa-chevron-left"></i> 1
                  </a>
                  <a title="{{ limit }} results per page" href="#" class="button is-blue">Rows {{ offset }} - {{ offset + analyses|length }}</a>
                  <a title="Go back {{ limit }} pages" href="?desc={{desc}}&offset={{ offset + limit }}&limit={{limit}}" class="button is-white {% if analyses|length < limit %}is-disabled{% endif %}">
                    <i class="fas has-half-opacity fa-chevron-right"></i> 1
                  </a>
                  <a title="Skip {{ limit * 5 }} pages" href="?desc={{desc}}&offset={{ offset + (limit * 5) }}&limit={{limit}}" class="button is-white {% if analyses|length < limit %}is-disabled{% endif %}">
                    <i class="fas has-half-opacity fa-chevron-right"></i> 5
                  </a>
                  <a title="Go back {{ limit * 10 }} pages" href="?desc={{desc}}&offset={{ offset + (limit * 10) }}&limit={{limit}}" class="button is-white {% if analyses|length < limit %}is-disabled{% endif %}">
                    <i class="fas has-half-opacity fa-chevron-right"></i> 10
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </section>
{% endblock %}
